<!-- Microrole detail -->
<h1>
  <%= @microrole.name %>
</h1>

<div class="row">
  <div class="span4">
    <table class="table table-condensed table-horizontal">
      <tbody>
        <tr>
          <td style="width:40%"> Microroles of <%= link_to @meaning, @meaning %></td>
          <td>
            <% @meaning.microroles.sort.each do |mr| %>
              <div>
                <%= link_to_unless_current mr, mr do %>
                <%= content_tag :strong, mr.name %>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="span12 dt-with-filters">
    <h2>
      Coding frames  <span class="badge with-h2"><%= @microrole.coding_frame_count %></span>
      and Verb forms <span class="badge with-h2"><%= @microrole.verb_count %></span>
    </h2>
    
    <div class="form-inline dt-filters">
      filters...
    </div>
    <table class="table table-striped table-hover table-bordered-sharp dataTable">
      <thead>
        <th>Language</th>
        <th class="hidden-col">region</th>
        <th class="hidden-col">family</th>
        <th>Verb form (<%= @meaning.to_s %>)</th>
        <th>Coding frame</th>
        <th class="hidden-col">derived</th>
        <th class="hidden-col">arg_count</th>
        <th class="number">Index #</th>
        <th>Coding set</th>
        <th>Argument type</th>        
      </thead>
      <tbody>
      <% @verb_cf_mr.each do |v_cf_mr| %>
        <% verb   = v_cf_mr.verb; lang = verb.language %>
        <% next if (cf = v_cf_mr.coding_frame).nil? %>
        <% idx_no = @index_number_for[cf]; %>
        <% if idx_no.nil? then cs = at = nil else cs = idx_no.coding_set; at = idx_no.argument_type end %>
        <tr>
          <td><%= link_to lang, lang %></td>
          <td><%= lang.region %></td>
          <td><%= lang.family %></td>

          <td><%= link_to verb, [lang, verb], :class => 'object-language' %></td>

          <td><%= link_to cf, [lang, cf] %></td>
          <td><%= cf.derived %></td>
          <td><%= cf.arg_count %></td>
          <td class="number"><%= idx_no.index_number unless idx_no.nil? %></td>
          <td><%= link_to cs, [lang, cs] unless cs.nil? %></td>
          <td><%= at.to_s %></td>
        </tr>
      <% end # looping over records %>
      </tbody>
    </table>
  </div>
</div>