<!-- Microrole detail -->
<h1>
  <%= @microrole.name %>
</h1>

<div class="row">
  <div class="span6">
    <table class="table table-condensed table-horizontal">
      <tbody>
        <tr>
          <td style="width:40%">
						Microroles of <br/> <%= link_to @meaning, @meaning, class: 'no-break' %>
					</td>
          <td>
            <% @meaning.microroles.sort.each do |mr| %>
              <div>
                <%= link_to_unless_current mr, mr do %>
                	<%= content_tag :strong, mr.name %>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="span12 dt-with-filters">
    <h2>
      Coding frames  <span class="badge"><%= @microrole.coding_frame_count %></span>
      and Verb forms <span class="badge"><%= @microrole.verb_count %></span>
    </h2>
    
    <div class="form-inline dt-filters"><!-- filters for dataTable -->

      <label> Show: </label>
	      <div class="btn-group filter-col" data-toggle="buttons-checkbox" data-col="derived">
	        <button class="btn btn-mini"> Basic </button>
	        <button class="btn btn-mini"> Derived </button>
	      </div> coding frames
      
      <label>with:</label>
      <div class="btn-group filter-col" data-toggle="buttons-checkbox" data-col="arg_count">
				<% @arg_counts.each do |n| %>
	        <button class="btn btn-mini"><%= n %></button>
				<% end %>
      </div> participants

      <div class="btn-group">
        <a class="btn btn-mini clear-filters">
          <i class="icon-remove"></i> Clear filters
        </a>
      </div>

    </div><!-- end .dt-filters-->

    <table class="table table-striped table-hover table-bordered-sharp dataTable">
      <thead>
        <th>Language</th>
        <th class="hidden-col">region</th>
        <th class="hidden-col">family</th>
        <th>Verb form (<%= @meaning.to_s %>)</th>
        <th>Coding frame</th>
        <th class="hidden-col">derived</th>
        <th class="hidden-col">arg_count</th>
        <th class="hidden-col">Index #</th>
        <th>Coding set</th>
        <th>Argument type</th>        
      </thead>
      <tbody>
      <% @verb_cf_mr.each do |v_cf_mr| %>
        <% verb = v_cf_mr.verb %>
				<% next unless verb %>
				<% lang = verb.language %>
        <% next if (cf = v_cf_mr.coding_frame).nil? || cf.coding_frame_schema.blank? %>
        <% idx_no = @index_number_for_cf[cf]; %>
        <% unless idx_no.nil? %>
					<% n, cs, at = idx_no.index_number, idx_no.coding_set, idx_no.argument_type %>
				<% else %>
					<% n = cs = at = nil %>
				<% end %>
        <tr>
          <td><%= link_to lang, lang %></td>
          <td><%= lang.region %></td>
          <td><%= lang.family %></td>

          <td><%= link_to verb, [lang, verb], :class => 'object-language' %></td>

          <td>
						<%= render_cf cf, link: true, language: lang ,tooltip:{n => @microrole.name}, highlight: [n] %>							
					</td>
          <td><%= cf.derived %></td>
          <td><%= cf.arg_count %></td>
          <td><%= n unless n.nil? %></td>
          <td><%= link_to cs, [lang, cs] unless cs.nil? %></td>
          <td><%= at.to_s %></td>
        </tr>
      <% end # looping over records %>
      </tbody>
    </table>
  </div>
</div>