<h1>Contributors</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Contributor</th>
    <th>Native speaker</th>
    <th>Url</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.id %></td>
    <td><%= person.name %></td>
    <td><%= person.contributor %></td>
    <td><%= person.native_speaker %></td>
    <td><%= person.url %></td>
  </tr>
<% end %>
</table>

<br />
