<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @person.id %>
</p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Contributor:</b>
  <%= @person.contributor %>
</p>

<p>
  <b>Native speaker:</b>
  <%= @person.native_speaker %>
</p>

<p>
  <b>Url:</b>
  <%= @person.url %>
</p>

<%= link_to 'Back', people_path %>
