<!-- Coding set: show -->
<% cs = @coding_set # alias %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span12">

    <!-- <div class="alert alert-block alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <div><strong>Under Construction</strong></div>
    </div> -->

    <h1 class="small">Coding set <span style="color:grey;font-weight:normal"><%= cs %></span><small> of <%= link_to @language, @language %></small></h1>
    
    <% if cs.comment %>
      <form class="form-inline pull-left with-heading">
        <a class="btn btn-mini toggle" data-toggle="comment" style="margin-top:-20px">show comment</a>
        <div class="comment"><p class="box"><%= raw cs.comment %></p></div>
      </form>
    <% end %>
    
    <table  id="cs_list" class="table table-bordered-sharp table-striped table-hover dataTable" style="margin-top:60px">
      <thead>
        <tr>
          <th>Coding frame</th>
          <!-- <th>Microrole(s)</th> -->
        </tr>
      </thead>
      <tbody>
          <% @coding_frames.each do |cf| %>
            <tr>
              <td><%= link_to cf, [@language, cf] unless cf.nil? || cf.to_s.blank? %></td>

              <!-- <td class="text">

                <% @coding_set.microroles.each do |m| %>
                <%= link_to m, m %><span style="margin-right:2em"></span>
                <% end %>


              </td> -->

            </tr>
          <% end %>
      </tbody>
          </tbody>
    </table>
  </div>
</div>
