<h1>Languages</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Iso code</th>
    <th>Family</th>
    <th>Variety</th>
  </tr>

<% @languages.each do |language| %>
  <tr>
    <td><%= link_to language.name, language %></td>
    <td><%= language.iso_code %></td>
    <td><%= language.family %></td>
    <td><%= language.variety %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Language', new_language_path %>
