<!-- Languages index -->
<h1>Language contributions</h1>

<div class="row">
  <div class="span12">  

    <h4>Languages by geographical region</h4>
    <% counter = 0 %>
    <div class="row">
      <div class="span6">
    
    <% @regions.each do |region| %>
      <h5 id="region-#{region.split(' ')[0]}"><%= region %></h5>
      <table class="table table-condensed">
        <tbody>
          <% @languages.select{|l| l.continent == region}.each do |lang| %>
            <tr>
              <th><%= lang.to_s %></th>
              <td>
                <% if (contributors = lang.contributors).size > 0 %>
                  <%= lang.contributors.first.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    </div>      
  </div>

    
  </div>
</div>














<!-- <table id="languages_list" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Iso code</th>
    <th>Family</th>
    <th>Variety</th>
    <th>Region</th>
  </tr>
</thead><tbody>
<% @languages.each do |l| %>
  <tr>
    <td><%= link_to l, l %></td>
    <td><%= l.iso_code %></td>
    <td><%= l.family %></td>
    <td><%= l.variety %></td>
    <td><%= l.continent %></td>
  </tr>
<% end %>
</tbody>
</table> -->

