<!-- Languages index -->
<% enable_gmaps %>
<div class="row">
  <div class="span12">  
    
    
    <div class="row">
      <div class="span10 offset1">
        <h1 class="map-caption">Languages by geographical regions</h1>
        <%= gmaps({
          map_options: {
            provider_key: @google_api_key,
            center_latitude:  0,
            center_longitude: 0,
            auto_adjust:  true,
            auto_zoom:    false,
            zoom: 2,
            minZoom: 2,
            mapTypeControl: false,
            raw: "{
              streetViewControl: false,
              overviewMapControl: true,
              navigationControlOptions: {
                style: google.maps.NavigationControlStyle.SMALL
              }
            }"
          },
          markers: { data: @map_data, options: { randomize: false } }
        }) %>
      </div>
    </div>

    <!-- List of languages -->
    <% counter = 0 %>
    <div class="row">
      <div class="span6">    
        
        <% @regions_custom.each do |region| %>
          <% next if region.nil? %>
          <% languages_in_region = @languages.select{|l| l.continent == region} %>

          <%= content_tag :h2, id: languages_in_region[0].region_id, class: 'region' do %>
            <%= region %>
            <span class="badge" title="<%= "#{(lcount = languages_in_region.size)} languages" %>">
              <%= lcount %>
            </span>
          <% end %>

          <table class="table table-very-condensed table-hover">
            <tbody>
              <% if region == 'Americas' # custom sort order: North to South %>
                
              <% end %>
              
              <% languages_in_region.each do |lang| %>
                <%= content_tag_for(:tr, lang) do %>
                <th class="language-name"><%= link_to lang, lang %></th>
                <td>
                  <%= contributors_as_links lang, false if (lang.contributors).size > 0 %>
                </td>
                <% end %>
              <% end %>
            </tbody>
          </table>

          <% if (counter += 1) > 2 # begin next column %>
            <% counter = 0 %>
            </div><div class="span6">
          <% end # endif %>

        <% end # .each region %>
        
    </div><!-- span6 -->
  </div>  <!-- row -->
    
  </div>
</div>
