<p id="notice"><%= notice %></p>

<h1>
  <%= @language.name %>
	<small>
		<strong>ISO code:</strong>
		<%= @language.iso_code %>
	</small>
</h1>

<p>
  <b>Family:</b>
  <%= @language.family %>
</p>

<p>
  <b>Variety:</b>
  <%= @language.variety %>
</p>

<%= link_to 'Show All', languages_path %>
