<!-- Language details -->
<% enable_gmaps %>
<h1>
  <%= @language %>
  <% if @iso_code %>
    <a title="ISO code" href="http://www.glottolog.org/glottolog/?iso=<%= @iso_code %>" 
       class="label"><%= @iso_code %></a>
  <% end %>
</h1>
<div class="row">
	<div class="span6">
    <table class="table table-condensed table-hover" id="language_metadata">
      <% if @language.variety %>
        <tr>
          <th>Variety</th>
          <td><%= @language.variety %></td>
        </tr>
      <% end %>
      <% if @language.family %>
        <tr>
          <th>Family</th>
          <td><%= @language.family %></td>
        </tr>
      <% end %>
      <% if @language.continent %>
        <tr>
          <th>Region</th>
          <td><%= @language.continent %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="span6"><div class="todo">
    <strong>To Do:</strong> display Contributor information
  </div></div>
</div>

<div class="row new">
  <div class="span12">
    <h3 id="data-list">Data</h3>
    <%= link_to "#{@language.verbs.count} Verbs", language_verbs_path(@language), :class =>"btn btn-large btn-info" %>
    <%= link_to "#{@language.coding_frames.count} Coding Frames", language_coding_frames_path(@language), :class =>"btn btn-large" %>
    <%= link_to "#{@language.alternations.count} Alternations", language_alternations_path(@language), :class =>"btn btn-large" %>
    <%= link_to "#{@language.examples.count} Glossed Examples", language_examples_path(@language), :class =>"btn btn-large" %>
  </div>
</div>

<div class="row new">
	<div class="span6"><div class="todo">
		<strong>To Do:</strong> display <em>"Contributors' Notes"</em>, which include:
		<ul>
		<li>General comments</li>
		<li>Source of data generalizations / contributors' background</li>
		<li>Criteria used for judging if an alternation occurs with a verb</li>
		<li>Characterization of flagging, indexing, and ordering resources</li>
		</ul>
	</div></div>
	<div class="span6">

	</div>
</div>
<div class="row new">
	<div class="span6">

	</div>
	<div class="span6">

	</div>
</div>