<!-- Language details -->
<% enable_gmaps %>
<div class="row">
  <div class="span6">
    
    <h1>
      <%= @language %>
      <% if @iso_code %>
        <a title="ISO code" href="http://www.glottolog.org/glottolog/?iso=<%= @iso_code %>" 
           class="label"><%= @iso_code %></a>
      <% end %>
    </h1>
    
    <table class="table table-condensed table-hover" id="language_metadata">
      <% if @language.variety %>
        <tr>
          <th>Variety</th>
          <td><%= @language.variety %></td>
        </tr>
      <% end %>
      <% if @language.family %>
        <tr>
          <th>Family</th>
          <td><%= @language.family %></td>
        </tr>
      <% end %>
      <% if @language.continent %>
        <tr>
          <th>Region</th>
          <td><%= @language.continent %></td>
        </tr>
      <% end %>
    </table>
    
    <%= gmaps({
      map_options: {
        container_class: "map_container single",
        provider_key: @google_api_key,
        auto_adjust:  true,
        auto_zoom:    false,
        zoom: 5,
        mapTypeControl: true,
        raw: "{
          streetViewControl: false,
          overviewMapControl: true,
          navigationControlOptions: {
            style: google.maps.NavigationControlStyle.SMALL
          }
        }"
      },
      markers: { data: @map_data, options: { randomize: false } }
    }) %>
  </div>

  <div class="span6">
    <h4><%= "Contributor".pluralize @contributors.size %></h4>
    <% if @contributors.size == 0 %>
      (not specified)
    <% else %>
      <%= render partial: 'contributor', collection: @contributors %>
    <% end %>
    
    <% if @native_speakers.size > 0 %>
      <h4 class="clear">Native speakers, consultants</h4>
      <%= @native_speakers.map{|p|p.name}.to_sentence %>
    <% end %>
  </div>
</div>

<div class="row new">
  <div class="span12">
    <h4>Data</h3>
      <ul>
        <li><%= link_to "#{@language.verbs.count} Verbs", language_verbs_path(@language) %></li>
        <li><%= link_to "#{@language.coding_frames.count} Coding Frames", language_coding_frames_path(@language) %></li>
        <li><%= link_to "#{@language.alternations.count} Alternations", language_alternations_path(@language) %></li>
        <li><%= link_to "#{@language.examples.count} Glossed Examples", language_examples_path(@language) %></li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h4>Contributors' comments</h4>
    <div class="row">

  <% counter = 0 %>

  <% if @language.comments %>
    <%= content_tag :div, raw("<h5>General comments</h5>#{@language.comments}"), class: 'span6' %>
    <% if (counter += 1)%2 == 0 then raw('</div><div class="row">') else "" end %>
  <% end %>

  <% if @language.data_sources_generalizations_contributor_backgrounds %>
    <%= content_tag :div, raw("<h5>Source of data and generalizations / contributors' background</h5>#{@language.data_sources_generalizations_contributor_backgrounds}"), class: 'span6' %>
    <% if (counter += 1)%2 == 0 then raw('</div><div class="row">') else "" end %>
  <% end %>

  <% if @language.alternation_occurs_judgement_criteria %>
    <%= content_tag :div, raw("<h5>Judgment criteria for verb alternations</h5>#{@language.alternation_occurs_judgement_criteria}"), class: 'span6' %>
    <% if (counter += 1)%2 == 0 then raw('</div><div class="row">') else "" end %>
  <% end %>
  </div><!-- end row -->
  </div><!-- end span12 -->
  </div><!-- end row -->

  <div class="new row">
    <div class="span12">
  <h4>Characterization of...</h4>
  <div class="row">
  <% counter = 0 %>

  <% if @language.characterization_of_flagging_resources %>
    <%= content_tag :div, raw("<h5>...Flagging</h5>#{@language.characterization_of_flagging_resources}"), class: 'span6' %>
    <% if (counter += 1)%2 == 0 then raw('</div><div class="row">') else "" end %>
  <% end %>

  <% if @language.characterization_of_indexing_resources %>
    <%= content_tag :div, raw("<h5>...Indexing</h5>#{@language.characterization_of_indexing_resources
}"), class: 'span6' %>
    <% if (counter += 1)%2 == 0 then raw('</div><div class="row">') else "" end %>
  <% end %>

  <% if @language.characterization_of_ordering_resources %>
    <%= content_tag :div, raw("<h5>...Ordering</h5>#{@language.characterization_of_ordering_resources}"), class: 'span6' %>
    <% if (counter += 1)%2 == 0 then raw('</div><div class="row">') else "" end %>
  <% end %>
  </div><!-- end row -->
  </div><!-- end span12 -->
  </div><!-- end row -->
  
