<!-- Language details -->
<% enable_gmaps %>
<div class="row">
  <div class="span6">
    <div>
      <h1 class="pull-left">
        <%= @language %>
        <% if @iso_code %>
          <a title="Look up ISO code in Glottolog" href="http://glottolog.org/resource/languoid/iso/<%= @iso_code %>" 
             class="label" style="font-weight:normal;font-size:50%"><%= @iso_code %></a>
             <% if !@iso_code.match(/(ctn|czn|sci|ngh|nqn|jpn\-hok)/) %>
               <a title="Look up in WALS" href="http://wals.info/languoid/by_code/iso_639_3_<%= @iso_code %>">
               <%= image_tag('icons/wals.png', size: '16x16') %></a>
             <% end %>
        <% end %>
      </h1>
      <div class="btn-group with-heading"><%= prev_next_links(@languages, @language) %></div>
    </div>
    
    <table class="table table-condensed table-hover" id="language_metadata">
      <% if @language.variety %>
        <tr>
          <th>Variety</th>
          <td><%= @language.variety %></td>
        </tr>
      <% end %>
      <% if @language.family %>
        <tr>
          <th>Family</th>
          <td><%= @language.family %></td>
        </tr>
      <% end %>
      <% if @language.continent %>
        <tr>
          <th>Region</th>
          <td><%= @language.continent %></td>
        </tr>
      <% end %>
    </table>

    <!-- <% if @language.comments %>
    <div class="row" style="margin-left:0px;">
    <form class="form-inline pull-left with-heading">
      <a class="btn btn-mini toggle" data-toggle="comment">show comment</a>
      <div class="comment" style="display:hidden"><p class="box"><%= raw @language.comments %></p></div>
    </form>
    </div>
    <% end %> -->
    
    <%= gmaps({
      map_options: {
        container_class: "map_container single",
        provider_key: @google_api_key,
        auto_adjust:  true,
        auto_zoom:    false,
        zoom: 5,
        minZoom: 2,
        mapTypeControl: true,
        raw: "{
          streetViewControl: false,
          overviewMapControl: true,
          navigationControlOptions: {
            style: google.maps.NavigationControlStyle.SMALL
          }
        }"
      },
      markers: { data: @map_data, options: { randomize: false } }
    }) %>
  </div>

  <div class="span6">
    <div>
      <h2 class="pull-left"><%= "Contributor".pluralize @contributors.size %></h2>
    </div>
    <div class="clear">
      <% if @contributors.size < 1 %>
        (not specified)
      <% else %>
        <%= render partial: 'contributors', object: @contributors %>
      <% end %>
    </div>
      
    <% if @native_speakers.size > 0 %>
      <div class="clear" style="margin-top:8px;">
        <b>with data contributions by <%= pluralize @native_speakers.size, "native speaker" %></b>
      </div>
    <% end %>
        
    
  </div><!-- .span6 -->
</div><!-- .row -->

<div class="row">
  <div class="span12">

    <h2>Data</h2>
    <% readable = {'verbs'=>'Verb forms', 'examples'=>'glossed Examples'} %>
    <% %w(verbs coding_frames alternations examples).each do |resource| %>
      <% name = readable[resource] || resource.humanize %>
      <%if resource == 'coding_frames'%>
        <%= link_to "#{@language.send(resource).where(derived:'Basic').count} #{name}", send("language_#{resource}_path", @language), class: 'btn' %>
      <% else %>
        <%= link_to "#{@language.send(resource).count} #{name}", send("language_#{resource}_path", @language), class: 'btn' %>
      <% end %>
    <% end %>

<h2><a id="cite"></a>How to cite the dataset for <%=     @language %>&nbsp;<a rel="popover" class="info cursor-hand" style="text-decoration:none;cursor:pointer;" title="BibTeX" data-content="<span style='font-size:9pt;font-family:monospace;'>@inbook{valpal-<%=request.path_parameters[:id]%>,<br />
&nbsp;&nbsp;publisher = {Max Planck Institute for Evolutionary Anthropology},<br />
&nbsp;&nbsp;author    = <% n = Array.new %>
<% @contributors.each do |c| %>
<% a = c.name %>
<% ix = a.rindex(/ /) %>
<% n.push(a[ix+1..a.length] + ", " + a[0,ix])%>
<% end %>
{<%=n.join(' & ')%>},<br />
&nbsp;&nbsp;url       = {http://valpal.info<%=request.fullpath%>},<br />
&nbsp;&nbsp;booktitle = {Valency Patterns Leipzig Online Database},<br />
&nbsp;&nbsp;year      = {2013},<br />
&nbsp;&nbsp;editor    = {Hartmann, Iren &amp; Haspelmath, Martin &amp; Taylor, Bradley (eds.)},<br />
&nbsp;&nbsp;address   = {Leipzig},<br />
&nbsp;&nbsp;title     = {<%= @language %> Valency Patterns}<br />
}"><span class="label" style="font-weight:normal">BibTeX</span></a></h2>
            <pre><% n = Array.new %>
<% @contributors.each do |c| %>
<% a = c.name %>
<% ix = a.rindex(/ /) %>
<% n.push(a[ix+1..a.length] + ", " + a[0,ix])%>
<% end %>
<%= n.join(' & ')%>. 2013. <%= @language %> Valency Patterns.
In: Hartmann, Iren &amp; Haspelmath, Martin &amp; Taylor, Bradley (eds.) 2013.
Valency Patterns Leipzig Online Database
Leipzig: Max Planck Institute for Evolutionary Anthropology.
(Available online at http://valpal.info<%=request.fullpath%>, Accessed on <%= Time.now.strftime("%Y-%m-%d") %>)</pre>
    

  </div>
</div>

<% if @language.comments %>
<div class="row">
  <div class="span12">

    <h2>Comments</h2>
  <p><%= raw @language.comments %></p>
</div>
<% end %>

<!-- all comments hidden for now .where(derived:'Basic')-->
