<!-- Language details -->
<% enable_gmaps %>
<div class="row">
  <div class="span6">
    
    <h1>
      <%= @language %>
      <% if @iso_code %>
        <a title="Look up ISO code in Glottolog" href="http://www.glottolog.org/glottolog/?iso=<%= @iso_code %>" 
           class="label"><%= @iso_code %></a>
        <a title="Look up in WALS" href="http://wals.info/languoid/by_code/iso_639_3_<%= @iso_code %>">
          <%= image_tag('icons/wals.png', size: '16x16') %>
        </a>
      <% end %>
    </h1>
    
    <table class="table table-condensed table-hover" id="language_metadata">
      <% if @language.variety %>
        <tr>
          <th>Variety</th>
          <td><%= @language.variety %></td>
        </tr>
      <% end %>
      <% if @language.family %>
        <tr>
          <th>Family</th>
          <td><%= @language.family %></td>
        </tr>
      <% end %>
      <% if @language.continent %>
        <tr>
          <th>Region</th>
          <td><%= @language.continent %></td>
        </tr>
      <% end %>
    </table>
    
    <%= gmaps({
      map_options: {
        container_class: "map_container single",
        provider_key: @google_api_key,
        auto_adjust:  true,
        auto_zoom:    false,
        zoom: 5,
        minZoom: 2,
        mapTypeControl: true,
        raw: "{
          streetViewControl: false,
          overviewMapControl: true,
          navigationControlOptions: {
            style: google.maps.NavigationControlStyle.SMALL
          }
        }"
      },
      markers: { data: @map_data, options: { randomize: false } }
    }) %>
  </div>

  <div class="span6">
    <h2><%= "Contributor".pluralize @contributors.size %></h2>
    <% if @contributors.size == 0 %>
      (not specified)
    <% else %>
      <%= render partial: 'contributor', collection: @contributors %>
    <% end %>
    
    <% if @native_speakers.size > 0 %>
      <h3 class="clear">Native speakers, consultants</h3>
      <%= @native_speakers.map{|p|p.name}.to_sentence %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Data</h2>
    <% readable = {'verbs'=>'Verb forms', 'examples'=>'glossed Examples'} %>
    <% %w(verbs coding_frames alternations examples).each do |resource| %>
      <% name = readable[resource] || resource.humanize %>
        <%= link_to "#{@language.send(resource).count} #{name}", send("language_#{resource}_path", @language), class: 'btn' %>
    <% end %>
  </div>
</div>

<div class="new row">
  <div class="span12">
    <% if @language.comments %>
      <% #TODO fix the formatting of this section (Issur #50) %>
      <h2>Contributor comments</h2>
    <div class="row">

  <% counter = 0 %>

  <% if @language.comments %>
    <%= content_tag :div, raw("<h4>General comments</h4>#{@language.comments}"), class: 'span6' %>
    <% if (counter += 1)%2 == 0 then raw('</div><div class="row">') else "" end %>
  <% end %>

  <% if @language.data_sources_generalizations_contributor_backgrounds %>
    <%= content_tag :div, raw("<h4>Source of data and generalizations / contributors' background</h4>#{@language.data_sources_generalizations_contributor_backgrounds}"), class: 'span6' %>
    <% if (counter += 1)%2 == 0 then raw('</div><div class="row">') else "" end %>
  <% end %>

  <% if @language.alternation_occurs_judgement_criteria %>
    <%= content_tag :div, raw("<h4>Judgment criteria for verb alternations</h4>#{@language.alternation_occurs_judgement_criteria}"), class: 'span6' %>
    <% if (counter += 1)%2 == 0 then raw('</div><div class="row">') else "" end %>
  <% end %>
  </div><!-- end row -->
  </div><!-- end span12 -->
  </div><!-- end row -->

  <div class="new row">
    <div class="span12">
  <h3>Characterization of...</h3>
  <div class="row">
  <% counter = 0 %>

  <% if @language.characterization_of_flagging_resources %>
    <%= content_tag :div, raw("<h4>...Flagging</h4>#{@language.characterization_of_flagging_resources}"), class: 'span6' %>
    <% if (counter += 1)%2 == 0 then raw('</div><div class="row">') else "" end %>
  <% end %>

  <% if @language.characterization_of_indexing_resources %>
    <%= content_tag :div, raw("<h4>...Indexing</h4>#{@language.characterization_of_indexing_resources
}"), class: 'span6' %>
    <% if (counter += 1)%2 == 0 then raw('</div><div class="row">') else "" end %>
  <% end %>

  <% if @language.characterization_of_ordering_resources %>
    <%= content_tag :div, raw("<h4>...Ordering</h4>#{@language.characterization_of_ordering_resources}"), class: 'span6' %>
    <% if (counter += 1)%2 == 0 then raw('</div><div class="row">') else "" end %>
  <% end %>
</div><!-- end row -->
<% end %>
</div><!-- end span12 -->
</div><!-- end row -->
  
