<div class="row">
    <h1 style="text-align:center;">Welcome to <em>ValPaL</em><sup><sup>pre-release</sup></sup></h1>
    <p align="center">
        This is the <b>pre-release</b> version of the <strong>Valency Patterns Leipzig Online Database</strong>,<br />
        which is one of the results of the Leipzig Valency Classes Project. 
    </p>
    <p align="center">
        <a href="/languages"><strong><big>Start exploring the database</big></strong></a><br />by selecting an item from the top menu bar. 
    </p>
</div>
<div class="new row" style="text-align:center">

    <a href="http://www.dfg.de" title="Funded by “Deutsche Forschungsgemeinschaft”" target="_blank"><%= image_tag 'dfg_logo.jpg', style: "width:180px;"%></a>

    <font size="36pt" color="grey"><b>&nbsp;+&nbsp;</b></font>

    <a href="http://www.eva.mpg.de"><%= image_tag 'logo_minerva.png', style: "width:100px;"%></a>

    <font size="36pt" color="grey"><b>&nbsp;=&nbsp;</b></font>

    <%= image_tag 'logo_valency.png', style: 'width:180px;' %>

    <font size="36pt" color="grey"><b>&nbsp;⇒&nbsp;</b></font>
    
    <a href ="/languages"><%= image_tag 'logo_valpal_text.png', style: 'width:180px;' %></a>
    
</div>
<hr noshade>
<div class="new_row">
    <h2><a id="cite"></a>How to cite ValPaL</h2>
        <p>The ValPaL online database is an edited database consisting of different languages which should be regarded as separate publications, like chapters of an edited volume. These datasets exemplified by <a href="/languages/icelandic">Icelandic</a> should be cited as follows:
        </p>
            
<div style="width:450px;padding:2px;position:relative;left:10px;bottom:-5px;background-color:#eeaa11;text-align:center;font-size:10pt">Please do <b>not</b> cite the ValPaL <b>pre-release</b> version in any scientific work!</div><pre style="margin:auto; display:inline-block;"><small>Barðdal, Jóhanna. 2013. Icelandic Valency Patterns.
In: Hartmann, Iren &amp; Haspelmath, Martin &amp; Taylor, Bradley (eds.) 2013.
Valency Patterns Leipzig.
Leipzig: Max Planck Institute for Evolutionary Anthropology.
(Available online at http://valpal.info/languages/icelandic, Accessed on <%= Time.now.strftime("%Y-%m-%d") %>)</small></pre>
        
        <p style="margin-top:15px">The complete work should be cited as follows: 

            <a href="#myModal" role="button" class="label" style="font-weight:normal;" data-toggle="modal">BibTeX</a>
            <!-- Modal -->
            <div id="myModal" class="modal hide fade" style="width:700px" tabindex="-1" role="dialog" aria-labelledby="myModalBibTeX" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalBibTeX">BibTeX</h3>
              </div>
              <div class="modal-body modal-cite">
@book{valpal,<br />
&nbsp;&nbsp;publisher = {Max Planck Institute for Evolutionary Anthropology},<br />
&nbsp;&nbsp;title     = {Valency Patterns Leipzig},<br />
&nbsp;&nbsp;url       = {http://valpal.info/},<br />
&nbsp;&nbsp;address   = {Leipzig},<br />
&nbsp;&nbsp;editor    = {Hartmann, Iren &amp; Haspelmath, Martin &amp; Taylor, Bradley (eds.)},<br />
&nbsp;&nbsp;year      = {2013}<br />
}
              </div>
            </div>

</p>
<div style="width:450px;padding:2px;position:relative;left:10px;bottom:-5px;background-color:#eeaa11;text-align:center;font-size:10pt">Please do <b>not</b> cite the ValPaL <b>pre-release</b> version in any scientific work!</div><pre style="margin:auto; display:inline-block;"><small>Hartmann, Iren &amp; Haspelmath, Martin &amp; Taylor, Bradley (eds.) 2013.
Valency Patterns Leipzig.
Leipzig: Max Planck Institute for Evolutionary Anthropology.
(Available online at http://valpal.info, Accessed on <%= Time.now.strftime("%Y-%m-%d") %>)</small></pre>
</div>
<div class="new_row">
    <h2><a id="license"></a>Terms of use &nbsp;<a href="http://creativecommons.org/licenses/by/3.0/"><%= image_tag 'cc-by.png', style: "width:80px;"%></a></h2>
        <p>
          The content of this web site is published under a
          <a href="http://creativecommons.org/licenses/by/3.0/" class="ext-link">Creative Commons Attribution 3.0 Unported License</a>.
          Use of the Google base maps is subject to
          <a href="http://www.google.com/permissions/geoguidelines.html" title="Google's permission guidelines" class="ext-link">Google's permission guidelines</a>.
          We invite the community of users to think about further applications for the available data
          and look forward to your comments, feedback, and questions.
        </p>
</div>

<div class="container">
  <div class="row">
    <div class="span12" style="margin-top:30px;">
        <center>
        <table border=0>
            <tr valign=top><td><a href="http://www.eva.mpg.de"><%= image_tag 'logo_minerva.png', style: "width:80px;"%></a></td>
            <td align=left><span style="color:#177A74; font-size:12px; width:200px;margin:5px auto;">
        Max Planck Institute for Evolutionary Anthropology, Leipzig<br>
        Deutscher Platz 6<br>
        04103 Leipzig (Germany)
            </span></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><span style="color:#177A74; font-size:12px; width:200px;margin:5px auto;">Funded by "Deutsche Forschungsgemeinschaft"<br></span><a href="http://www.dfg.de" target="_blank"><%= image_tag 'dfg_logo.jpg', style: "width:300px;"%></a></td></tr>
            <tr><td>&nbsp;</td></tr>
      </table>
      </center>
    </div>
  </div>
</div>