<%= form_for(@alternation) do |f| %>
  <% if @alternation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alternation.errors.count, "error") %> prohibited this alternation from being saved:</h2>

      <ul>
      <% @alternation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :alternation_name %><br />
    <%= f.text_field :alternation_name %>
  </div>
  <div class="field">
    <%= f.label :alternation_type %><br />
    <%= f.text_field :alternation_type %>
  </div>
  <div class="field">
    <%= f.label :coding_frames_of_alternation %><br />
    <%= f.text_field :coding_frames_of_alternation %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
