<h1>Alternations</h1>

<table>
  <tr>
    <th>Alternation name</th>
    <th>Language</th>
    <th>Alternation type</th>
    <th>Coding frames of alternation</th>
    <th>Description</th>
  </tr>

<% @alternations.each do |alternation| %>
  <tr>
    <td><%= link_to alternation.name, alternation %></td>
    <td><%= alternation.language %></td>
    <td><%= alternation.type %></td>
    <td><%= alternation.coding_frames_text %></td>
    <td><%= alternation.description %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Alternation', new_alternation_path %>
