<!-- Alternations index -->
<h1>
  Alternations
  <small>of <%= link_to @language, @language %></small>
</h1> 

<div class="row">
  <div class="span12 dt-with-filters">
    <div class="form-inline dt-filters"><!-- filters for dataTable -->
      <label> Show </label>
      <div class="btn-group filter-col" data-toggle="buttons-checkbox" data-col="coded?">
        <button class="btn btn-mini" value="y">Coded</button>
        <button class="btn btn-mini" value="n">Uncoded</button>
      </div> Alternations
  
      <div class="btn-group">
        <a class="btn btn-mini clear-filters"><i class="icon-remove"></i> Clear filters
        </a>
      </div>
    </div><!-- end .dt-filters-->

  <table id="altn_list" class="table table-striped table-bordered-sharp table-hover dataTable">
    <thead>
      <tr>
        <th>Alternation name</th>
        <th class="hidden">Coded?</th>
        <th>Description</th>
        <th>Examples</th>
        <th>Verbs</th>
      </tr>
    </thead>
    <tbody>
    <% @alternations.each do |altn| %>
      <% desc = altn.description; verb_count = altn.count_verbs; exs = altn.get_examples %>
      <%= content_tag_for :tr, altn do %>
        <td>
          <div class="cell">
            <% if altn.alternation_type %>
              <span class="label" title="<%= altn.coded? ? 'Coded' : 'Uncoded' %> alternation">
              <%= altn.coded? ? 'C' : 'U' %>
              </span>
            <% end %>
          </div>
          <div class="cell">
            <%= link_to raw(altn), [@language, altn] %>
          </div>
        </td>

        <td><%= altn.coded_y_n %></td>
        
        <td>
            <% if desc %>
            <%= raw desc.gsub('6px;vertical-align: text-bottom','9px;vertical-align: sub') %></td>
            <% end %>
        <td>
          <% if exs.first.is_a? Example %>
          <%= render_example exs.first, {number_as_link: true}%>
          <% end %>
        </td>
        
        <td class="number"><%= verb_count %></td>
        
      <% end %>
    <% end %>
  </tbody>
  </table>
</div><!-- end of .span12 -->
</div><!-- end of .row -->


