<!-- Alternation detail -->
<% a = @alternation %>
<p id="notice"><%= notice %></p>

  <h1 class="no-bold">
    <%= raw a.name %>
    <%= render partial: 'alternations/cu_label', locals: {alternation: a} %>
  </h1>

<div class="row">
  <div class="span6">
    <% unless a.description.nil? %>
      <h2>Description</h2>
      <div class="span11"><%= raw a.description.gsub('6px;vertical-align: text-bottom','9px;vertical-align: sub') %></div>
    <% end %>
  </div>
</div>

<div class="new row">
  <div class="span12 dt-with-filters">
    <div class="form-inline dt-filters"><!-- filters for dataTable -->
  
    <label>Alternation occurs:</label>
    <div class="btn-group filter-col" data-toggle="buttons-checkbox" data-col="occurs">
      <button class="btn btn-mini btn-success">Regularly</button>
      <button class="btn btn-mini btn-warning">Marginally</button>
      <button class="btn btn-mini btn-danger" >Never</button>
    </div>
    <label>Only</label>
    <div class="btn-group filter-col" data-toggle="buttons-checkbox" data-col="example">
      <button class="btn btn-mini" value="true">with examples</button>
    </div> for Derived CF

    <div class="btn-group">
      <a class="btn btn-mini clear-filters">
        <i class="icon-remove"></i> Clear filters
      </a>
    </div>    

    <div class="inline" style="margin-top:10px;"><!-- second line of filters -->
      <label>Participants in Basic CF:</label>
      <div class="btn-group filter-col" data-toggle="buttons-checkbox" data-col="arg_count">
        <button class="btn btn-mini" value="0"> none </button>
        <button class="btn btn-mini"> 1 </button>
        <button class="btn btn-mini"> 2 </button>
        <button class="btn btn-mini"> 3 </button>
        <button class="btn btn-mini"> 4 </button>
        <button class="btn btn-mini" value="5|6|7|8|9"> more than 4 </button>
      </div>
    </div>
    
  </div>
  
    <table id="av_list" class="table table-bordered-sharp table-striped table-hover dataTable">
      <thead>
        <tr>
          <th>Verb meaning</th>
          <th>Verb form</th>
          <th>Occurs</th>
          <th class="hidden">arg_count</th>
          <th>Basic Coding frame</th>
          <th>Derived Coding frame</th>
          <th class="hidden">arg_count_derived</th>
          <th class="hidden">example</th>
        </tr>
      </thead>

      <tbody>
        <% a.alternation_values.each do |av| %>
          <% v   = av.verb %>
          <% next unless v %>
          <% m   = v.meanings.first %>
          <% basic_cf  = v.coding_frame %>
          <% basic_exs = v.examples_of_coding_frame %>
          <% deriv_cf  = av.derived_coding_frame %>
          <% deriv_exs = av.examples %>
          
          <%= content_tag_for :tr, av do %>

            <td><%= link_to m, m unless m.nil? or m.to_s.blank? %></td>

            <td><%= link_to(v, [@language, v], class: 'object-language') if v %></td>

            <td class="center"><%= value_label av %></td>

            <td class="hidden"><%= basic_cf.arg_count if basic_cf %></td>

            <td>
              <% unless basic_cf.nil? || (basic_cf.coding_frame_schema).blank? %>
                <%= render_cf(basic_cf, link: true, css_class: "in-table") %>
                <% if basic_exs && basic_exs.size > 0 %>
                  <hr/>
                  <div>
                    <%= render partial: 'verbs/examples', object: basic_exs, locals: {options: {wrap: true}} %>
                  </div>
                <% end %>
              <% end %>
            </td>

            <td>
              <% unless deriv_cf.nil? || (deriv_cf.coding_frame_schema).blank? %>
                <%= render_cf(deriv_cf, link: true) %>
                <% if deriv_exs && deriv_exs.size > 0 %>
                  <hr/>
                  <div>
                    <%= render partial: 'verbs/examples', object: deriv_exs, locals: {options: {wrap: true}} %>
                  </div>
                <% end %>
              <% end %>
            </td>
            
            <td class="hidden"><%= deriv_cf.arg_count if deriv_cf %></td>

            <td class="hidden"><%= "true" if deriv_cf && deriv_exs %></td>
            
            
          <% end #table row %>
        <% end %>
      </tbody>

    </table>

  </div>
</div>