
<h1>
  <%= "Example".pluralize @examples.size %>
  <small>
    <%= @example.number if @examples.size == 1 %>
    of <%= link_to @language, @language %>
  </small>
</h1>

<div class="new row">
  <div class="span12">
    <table class="table table-bordered-sharp table-striped table-hover dataTable" width="100%">
    <thead>
      <tr>
        <th>Example</th>
        <th width="1" class="" style="border:0px solid black"></th>
        <th width="80">Verb&nbsp;meaning</th>
        <th width="200">Example of...</th>
        <!-- <th class="hidden">#</th> -->
      </tr>
    </thead>
    <tbody>
    <% @examples.each do |ex| %>
    <% next unless (m = ex.get_meaning) %>
      <%= content_tag_for :tr, ex do %>

        <td>
          <div class="pull-left">
            <%= render_example ex, {orig: true} %>
          </div>
        </td>
        
        <td class="" style="border-left:0px solid black"><%= render_comment ex %></td>
        
        <td><%= link_to m, m unless m.nil? || m.to_s.blank? %></td>

        <td>
          <% thing = ex.exemplifies %>
          <% if thing.is_a? String %>
            <%= thing %>
          <% elsif [CodingFrame,Alternation].include? thing.class %>
            <% name = thing.class.to_s.underscore.humanize %>
            <%= "a#{'n' if name[0].match /[AEIOU]/} " %> <%= link_to name, [@language, thing] %>:
            <br /><small><%= raw thing %></small>
          <% elsif thing.class == Verb %>
            the Verb form <span class="object-language"><%= link_to thing, [@language, thing] %></span>
          <% end %>
        </td>

        <td class="hidden">
          <%= "#{ex.number}" %>
        </td>

      <% end %>
    <% end %>
  </tbody>
  </table>
  </div>
</div>

