<h1>Listing examples</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Language</th>
    <th>Reference</th>
    <th>Person</th>
    <th>Primary text</th>
    <th>Original orthography</th>
    <th>Analyzed text</th>
    <th>Gloss</th>
    <th>Translation</th>
    <th>Translation other</th>
    <th>Comment</th>
    <th>Media file name</th>
    <th>Media file timecode</th>
    <th>Reference pages</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @examples.each do |example| %>
  <tr>
    <td><%= example.id %></td>
    <td><%= example.language %></td>
    <td><%= example.reference %></td>
    <td><%= example.person %></td>
    <td><%= example.primary_text %></td>
    <td><%= example.original_orthography %></td>
    <td><%= example.analyzed_text %></td>
    <td><%= example.gloss %></td>
    <td><%= example.translation %></td>
    <td><%= example.translation_other %></td>
    <td><%= example.comment %></td>
    <td><%= example.media_file_name %></td>
    <td><%= example.media_file_timecode %></td>
    <td><%= example.reference_pages %></td>
    <td><%= link_to 'Show', example %></td>
    <td><%= link_to 'Edit', edit_example_path(example) %></td>
    <td><%= link_to 'Destroy', example, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Example', new_example_path %>
