<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @example.id %>
</p>

<p>
  <b>Language:</b>
  <%= @example.language %>
</p>

<p>
  <b>Reference:</b>
  <%= @example.reference %>
</p>

<p>
  <b>Person:</b>
  <%= @example.person %>
</p>

<p>
  <b>Primary text:</b>
  <%= @example.primary_text %>
</p>

<p>
  <b>Original orthography:</b>
  <%= @example.original_orthography %>
</p>

<p>
  <b>Analyzed text:</b>
  <%= @example.analyzed_text %>
</p>

<p>
  <b>Gloss:</b>
  <%= @example.gloss %>
</p>

<p>
  <b>Translation:</b>
  <%= @example.translation %>
</p>

<p>
  <b>Translation other:</b>
  <%= @example.translation_other %>
</p>

<p>
  <b>Comment:</b>
  <%= @example.comment %>
</p>

<p>
  <b>Media file name:</b>
  <%= @example.media_file_name %>
</p>

<p>
  <b>Media file timecode:</b>
  <%= @example.media_file_timecode %>
</p>

<p>
  <b>Reference pages:</b>
  <%= @example.reference_pages %>
</p>


<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
