<%= form_for(@meaning) do |f| %>
  <% if @meaning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meaning.errors.count, "error") %> prohibited this meaning from being saved:</h2>

      <ul>
      <% @meaning.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :role_frame %><br />
    <%= f.text_field :role_frame %>
  </div>
  <div class="field">
    <%= f.label :typical_context %><br />
    <%= f.text_field :typical_context %>
  </div>
  <div class="field">
    <%= f.label :meaning_list %><br />
    <%= f.text_field :meaning_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
