<h1>Meanings</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Number</th>
    <th>Label</th>
    <th>Role frame</th>
    <th>Typical context</th>
    <th>Meaning list</th>
  </tr>

<% @meanings.each do |meaning| %>
  <tr>
    <td><%= meaning.id %></td>
    <td><%= meaning.number %></td>
    <td><%= meaning.label %></td>
    <td><%= meaning.role_frame %></td>
    <td><%= meaning.typical_context %></td>
    <td><%= meaning.meaning_list %></td>
  </tr>
<% end %>
</table>

<br />
