<!-- Meanings index -->
<h1>Meanings</h1>

<table id="meanings_table" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>#</th>
    <th>List</th>
    <th>Meaning Label</th>
    <th>Role frame</th>
    <th>Verb count</th>    
    <th>Microroles</th>
    <!-- <th>Typical context</th> -->
  </tr>
  </thead>
  <tbody>

<% @meanings.each do |m| %>
  <tr>
    <td><%= m.number %></td>
    <td><%= m.meaning_list.gsub(/ (list|meaning)/,'').downcase %></td>
    <td><strong><%= link_to m, m %></strong></td>
    <td><%= m.role_frame %></td>
    <!-- <td><%= m.typical_context %></td> -->
    <td><%= m.verbs.size %></td>
    <td><%= m.microroles_commalist %></td>
    
  </tr>
<% end %>
</tbody>
</table>

<br />
