<!-- Meanings index -->
<h1>Verb meanings</h1>


<div class="row">
<div class="span12 dt-with-filters">
  
  <div class="form-inline dt-filters"><!-- filters for dataTable -->
    <label>Show:</label>
    <div class="btn-group filter-col" data-toggle="buttons-checkbox" data-col="set">
      <button class="btn btn-mini">core</button>
      <button class="btn btn-mini">additional</button>
    </div> Verb meanings.

    <div class="btn-group">
      <a class="btn btn-mini clear-filters">
        <i class="icon-remove"></i> Clear filters
      </a>
    </div>
  </div><!-- end .dt-filters-->

<table id="meanings_list" class="table table-striped table-bordered-sharp table-hover dataTable">
  <thead>
  <tr>
    <th class="hidden">Set</th>
    <th class="hidden">role_count</th>

    <th>#</th>
    <th>Verb meaning</th>
    <th>Role frame</th>
    <th>Verbs</th>
    <th>Microroles</th>
  </tr>
  </thead>
  <tbody>

<% @meanings.each do |m| %>
  <tr>
    <td><%= m.core_or_additional %></td>
    <td><%= m.role_count %></td>
    
    <td class="number"><%= m.number %></td>
    <td><%= link_to m, m %></td>
    <td><%= m.role_frame %></td>
    <td class="number"><%= m.verbs.size %></td>
    <td><%= microrole_list m.microroles %></td>
    
  </tr>
<% end %>
</tbody>
</table>

</div>
</div>