<p id="notice"><%= notice %></p>

<p>
  <b>Label:</b>
  <%= @meaning.label %>
</p>

<p>
  <b>Role frame:</b>
  <%= @meaning.role_frame %>
</p>

<p>
  <b>Typical context:</b>
  <%= @meaning.typical_context %>
</p>

<p>
  <b>Meaning list:</b>
  <%= @meaning.meaning_list %>
</p>

<%= link_to 'Show All', meanings_path %>
