<!-- Meaning -->
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span6"><!-- meaning details -->
    <div>
      <h1 class="pull-left">
        <%= @meaning.label.upcase %>
        <small><%= @meaning.core_or_additional %> meaning</small>
      </h1>
      <div class="btn-group with-heading"><%= prev_next_links(@meanings, @meaning) %></div>
    </div>
    <table class="table table-condensed table-horizontal">
      <tbody>
        <tr>
          <th>Role frame</th>
          <td><%= @meaning.role_frame %></td>
        </tr>

        <tr>
          <th>Typical context</th>
          <td><em><%= @meaning.typical_context %></em></td>
        </tr>

        <tr>
          <th>Microroles</th>
          <td><%= microrole_list(@microroles) %></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="span12 dt-with-filters">
    <h2>Verb forms <span class="badge"><%= @verbs.size %></span></h2>

    <div class="form-inline dt-filters"><!-- filters for dataTable -->
      <label>Show Verb forms with:</label>
      <div class="btn-group filter-col" data-toggle="buttons-checkbox" data-col="arg_count">
			<% @arg_counts.each do |n| %>
        <button class="btn btn-mini"><%= n %></button>
			<% end %>
      </div> participants in basic Coding frame
      <div class="btn-group">
        <a class="btn btn-mini clear-filters">
					<i class="icon-remove"></i> Clear filters
        </a>
      </div>
    </div><!-- end .dt-filters-->

    <table id="verbs_list" class="table table-striped table-bordered-sharp table-hover dataTable">
      <thead>
        <tr>
          <th>Language</th>
          <th class="hidden">region</th>
          <th class="hidden">family</th>
          <th>Verb form</th>
          <th>Basic Coding frame</th>
					<th class="hidden">arg_count</th>
        </tr>
      </thead>

      <tbody>
        <% @verbs.each do |v| %>
          <% lang = v.language; cf = v.coding_frame %>
          <% next unless lang #this isn't really necessary but there are test records %>
          <tr>
            <td><%= link_to lang, lang %></td>
            <td><%= lang.region %></td>
            <td><%= lang.family %></td>
            <td><%= link_to v,  [lang, v ], class: 'object-language' %></td>
            <td>
              <% unless cf.nil? || cf.coding_frame_schema.blank? %>
                <%= render_cf(cf, link: true, language: lang, tooltip: @meaning.idx_no_to_microrole_name(cf)) %>
              <% end %>
            </td>
            <td><%= cf.arg_count unless cf.nil? || cf.coding_frame_schema.blank? %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    &nbsp;

  </div>
</div
