<!-- example partial -->
<!-- default local var `example` refers to the example object to render -->
<%= div_for example do %>
	<div class="example-number">
		<%= link_to "(#{example.number})", [@language, example],
		:title=>"View details for example #{example.number}" %>
	</div>
	<div class="example-body">
		<div class="object-language"><%= example.primary_text %></div>
		<div class="gloss-container">
			<%= split_gloss example %>
		</div>
		<div class="translation"><%= "‘#{example.translation}’" %></div>
	</div>
<% end %>
