<h1>Listing verbs</h1>

<table>
  <tr>
    <th>Language</th>
    <th>Id</th>
    <th>Coding frame</th>
    <th>Verb form</th>
    <th>Original script</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @verbs.each do |verb| %>
  <tr>
    <td><%= verb.language %></td>
    <td><%= verb.id %></td>
    <td><%= verb.coding_frame %></td>
    <td><%= verb.verb_form %></td>
    <td><%= verb.original_script %></td>
    <td><%= verb.comment %></td>
    <td><%= link_to 'Show', verb %></td>
    <td><%= link_to 'Edit', edit_verb_path(verb) %></td>
    <td><%= link_to 'Destroy', verb, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Verb', new_verb_path %>
