<!-- Verbs index -->
<h1>
  Verbs
  <small>of <%= link_to @language.name, @language %></small>
</h1>

<table id="verbs_list" class="table table-striped table-bordered dataTable">
  <thead>
    <tr>
      <th>Verb form</th>
      <% if @orig_script %>
        <th>Original script</th>
      <% end %>
      <th>Meanings</th>
      <th>Basic Coding frame</th>
    </tr>
  </thead>
<tbody>
<% @verbs.each do |verb| %>
<% cf = verb.coding_frame %>
  <tr>

    <td class="object-language">
      <%= link_to verb, [@language, verb] %>
    </td>

	  <% if @orig_script %>
    	<td><%= verb.original_script %></td>
	  <% end %>

    <td><%= meaning_list(verb) %></td>

    <td>
      <% unless cf.to_s.blank? %>
        <span class="hidden"><%= cf.arg_count %></span>
        <%= link_to(cf, [@language, cf]) %>
      <% end %>
    </td>

  </tr>
<% end %>
</tbody>
</table>

<br />
