<!-- Verbs index -->
<h1>
  Verb forms
  <small>of <%= link_to @language.name, @language %></small>
</h1>

<table id="verbs_list" class="table table-striped table-bordered dataTable">
  <thead>
  	<tr>

	    <th>Verb form</th>

      <% if @orig_script %>
        <th>Original script</th>
      <% end %>

  		<th>Meanings</th>

	    <th>Coding frame</th>

  	</tr>
  </thead>
<tbody>
<% @verbs.each do |verb| %>
  <tr>

    <td class="object-language">
      <%= link_to verb, [@language, verb] %>
    </td>

	  <% if @orig_script %>
    	<td><%= verb.original_script %></td>
	  <% end %>

    <td><%= meaning_list(verb) %></td>

	  <td><%= link_to(verb.coding_frame.coding_frame_schema,
					[@language, verb.coding_frame]) if verb.coding_frame? %>
		</td>

  </tr>
<% end %>
</tbody>
</table>

<br />
