<!-- Verb detail -->
<% meanings = @verb.meanings %>
<% cframe   = @verb.coding_frame %>


<div class="row">
  <div class="span12">
    <h1 class="pull-left">
    	<span class="object-language" id="<%= dom_id(@verb) %>"><%= @verb %></span>
    	<% if @verb.original_script %>
    		<small><span><%= "(#{@verb.original_script})" %></span></small>
    	<% end %>
    </h1>
    <% if @verb.comment %>
      <a class="btn btn-mini toggle-next with-h1">show comment</a>
      <div class="comment"><p class="box"><%= raw @verb.comment %></p></div>
    <% end %>
	</div>
</div>

<div class="row">
	<!-- CODING FRAME --><div class="span4">
    <h4>Coding frame</h4>
    <%= div_for cframe, :class => 'well bg-cf' do |cf| %>
      <big><%= link_to cf, [@language, cf] %></big>
    <% end %>

  </div><!-- end of span4 -->
  
  <!-- EXAMPLES --><div class="span8">
  	<% examples = @verb.examples_of_coding_frame %>
  	<% excount  = examples.size %>
  	<h4><!-- Examples -->
  		<%= if excount == 0 then raw("<small>no example given</small>") else 'Example'.pluralize(excount) end  %>
  		<small>for the coding frame</small>
  	</h4>
  	<% if example = examples.first %>
  		<%= div_for example, :class=>"row new" do %>
    		<div class="span1">
    			<%= link_to "(#{example.number})", [@language, example],
    			:title=>"View details for example #{example.number}" %>
    		</div>
    		<div class="span7">
    			<div class="row object-language"><%= example.primary_text %></div>
    			<div class="row">
    				<% at_pieces = example.analyzed_text.split().map!{|s| html_escape(s)} %>
    				<% gl_pieces = example.gloss.split().map!{|s| html_escape(s).gsub(/[A-Z]+/){|caps| '<span class="sc">'<<caps<<'</span>'} } %>
    				<% glosses = at_pieces.zip(gl_pieces).map!{|pair| pair.join('<br/>')} %>
    				<% glosses.each do |gloss| %>
    				  <div class="gloss-unit"><%= raw gloss %></div>
    				<% end %>
    			</div>
    			<div class="row"><%= "‘#{example.translation}’" %></div>
    		</div>
  		<% end %>
  	<% end %>
  	
  	<% if excount > 1 %>

  	  <% examples.shift %>
			<div class="row offset1">
		    <a class="btn btn-mini reveal-below">show <%= examples.size %> more…</a>
		  </div>
      <div class="reveal-me">
        <% examples.each do |example| %>
      		<%= div_for example, :class=>"row new" do %>
        		<div class="span1">
        			<%= link_to "(#{example.number})", [@language, example],
        			:title=>"View details for example #{example.number}" %>
        		</div>
        		<div class="span7">
        			<div class="row object-language"><%= example.primary_text %></div>
        			<div class="row">
        				<% at_pieces = example.analyzed_text.split().map!{|s| html_escape(s)} %>
        				<% gl_pieces = example.gloss.split().map!{|s| html_escape(s).gsub(/[A-Z]+/){|caps| '<span class="sc">'<<caps<<'</span>'} } %>
        				<% glosses = at_pieces.zip(gl_pieces).map!{|pair| pair.join('<br/>')} %>
        				<% glosses.each do |gloss| %>
        				  <div class="gloss-unit"><%= raw gloss %></div>
        				<% end %>
        			</div>
        			<div class="row"><%= "‘#{example.translation}’" %></div>
        		</div>
      		<% end %>          
        <% end %>
      </div>
  	  
  	<% end %>
  	

  </div>

</div>

<div class="row">

	<!-- INDEX#, Microroles, Coding sets, Argument types --><div class="span8">
    <% all_mrs = @verb.microroles.uniq %>
    <h4>
      Meaning labels, Microroles, Coding sets and Argument types
    </h4>
    <% arguments = cframe.index_numbers_eager_load %>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <% meanings.each do |m| %>
            <th class="meaning">
              <%= link_to m, m %>
            </th>
          <% end %>
          <th>Coding set</th>
          <th>Argument type</th>
        </tr>
      </thead><tbody>
      <% arguments.each do |arg| # arg is a Coding frame index number %>
        <tr>
          <td><%= arg.index_number %></td>
          <% meanings.each do |m| %>
            <td><%= arg.microroles.where_meaning(m)[0] %></td>
          <% end %>
          <td><%= arg.coding_set %></td>
          <td><%= arg.argument_type %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>

<div class="row new">
	<!-- Alternations --><div class="span12">
	  <% avs = @verb.alternation_values %>
    <h4 class="pull-left">Alternations</h4>
    <form class="pull-left with-h4">
      <label class="checkbox inline"> also show: </label>
      <label class="checkbox inline">
        <input type="checkbox" class="toggle-dt-column" data-column="comment">
        Comments
      </label>
      <label class="checkbox inline">
        <input type="checkbox" class="toggle-dt-column" data-column="derived coding frame"> Derived Coding frames
      </label>
  	</form>        

    <div class="row">
      <div class="span12 dt-filters"><!-- filters for dataTable -->
        <div class="btn-label">Filter by type:</div>
        <div class="btn-group column-filter" data-toggle="buttons-checkbox" data-column="coded?">
          <button type="button" class="btn btn-mini">Coded</button>
          <button type="button" class="btn btn-mini">Uncoded</button>
        </div>
      
        <div class="btn-label">Filter by occurrence:</div>
        <div class="btn-group column-filter inline" data-toggle="buttons-checkbox" data-column="occurs">
          <button type="button" class="btn btn-mini">Regularly</button>
          <button type="button" class="btn btn-mini">Marginally</button>
          <button type="button" class="btn btn-mini">Never</button>
        </div>
        <div class="btn-group">
          <a class="btn btn-mini dt-filters-clear">
            <i class="icon-remove"></i> Clear filters
          </a>
        </div>
      </div><!-- end span12 -->
    </div><!-- end row -->

		<div class="row"><div class="span12">
		<table id="av_list" class="table dataTable table-striped table-bordered table-hover">
		  <thead>
		  	<tr>
          <th>Alternation name</th>
          <th>Occurs</th>
          <th>Comment</th>              <!-- hidden (toggle w/checkbox) -->
          <th>Coded?</th> <!-- always hidden (for dataTable filtering only) -->
          <th>Derived Coding frame</th> <!-- hidden (toggle w/checkbox) -->
          <th>Examples</th>
		  	</tr>
		  </thead>
		<tbody>
		<% avs.each do |av| %>
		<% altn, dcf, exs = av.alternation, av.derived_coding_frame, av.examples %>
		<tr>
			<td>
        <span class="label" title="<%= altn.coded? ? 'Coded alternation' : 'Uncoded alternation' %>">
        <%= altn.coded? ? 'C' : 'U' %></span>
        <%= link_to raw(altn), [@language, altn] %>
      </td>
      <td><%= av.alternation_occurs %></td>
      <td><%= raw av.comment %></td>
      <td><%= altn.alternation_type %></td>
      <td><%= link_to(dcf, [@language, dcf]) unless dcf.nil? %></td>
      <td>
        <% if exs.first %>
          <% ex = exs.first %>
          <a class="whole-ex block" href="<%= language_example_path(@language, ex) %>">
            <div class="pull-left"><%= raw "(#{ex.number})&nbsp;" %></div>
            <div class="inline">
              <div class="object-language"><%= ex.primary_text %></div>
              <div><%= "‘#{ex.translation}’" %></div>
            </div>
          </a>
        <% end %>

        <% if exs.size > 1 %>
          <% exs.shift %>
          <div><a class="btn btn-mini reveal-below">and <%= exs.size %> more…</a></div>
          <div class="reveal-me">
            <% exs.each do |ex| %>
              <a class="whole-ex block" href="<%= language_example_path(@language, ex) %>">
                <div class="pull-left"><%= raw "(#{ex.number})&nbsp;" %></div>
                <div class="inline">
                  <div class="object-language"><%= ex.primary_text %></div>
                  <div><%= "‘#{ex.translation}’" %></div>
                </div>
              </a>
            <% end %>
          </div>
        <% end %>
      </td>
		</tr>
		<% end %>
		</tbody>
		</table>
		</div></div>
	</div>
</div>
