<!-- Verb detail -->
<% meanings = @verb.meanings %><!-- verb's meanings or [] -->
<% cframe   = @verb.cframe %>  <!-- basic coding frame or nil -->

<div class="row">
  <div class="span12">
    <h1 class="pull-left">
    	<span class="object-language" id="<%= dom_id(@verb) %>"><%= @verb %></span>
    	<% if @verb.original_script %>
    		<small><span><%= "(#{@verb.original_script})" %></span></small>
    	<% end %>
    </h1>
    <% if @verb.comment %>
      <a class="btn btn-mini toggle-next with-h1">show comment</a>
      <div class="comment"><p class="box"><%= raw @verb.comment %></p></div>
    <% end %>
	</div>
</div>

<div class="row">
	<!-- CODING FRAME --><div class="span4">
    <h2>Coding frame</h2>
		<% if cframe %>
    	<%= render_cf(cframe, link: true, css_class: "padded-box bg-cf big") if cframe %>
    <% else %>
      not specified
    <% end %>

  </div><!-- end of span4 -->
  
  <!-- EXAMPLES --><div class="span8">
    <h2>
      <%= 'Example'.pluralize @excount if @excount > 0 %>
      <small>
        <%= @excount > 0 ? "for the coding frame" : "no example given" %>
      </small>
    </h2>
    <div class="examples-container">
      <% example_options = {number_as_link: true} %>
      <% @examples.each do |ex| %>
        <%= render_example(ex, example_options) %>
      <% end %>
    </div>
  </div>

</div>

<div class="new row">

	<!-- INDEX#, Microroles, Coding sets, Argument types -->
	<div class="span<%= meanings.size + 6 %>">
    <h2>
      Verb <%= "meaning".pluralize meanings.size %>,
      Microroles, Coding&nbsp;sets and Argument&nbsp;types
    </h2>
    <% if cframe %>
      <% arguments = cframe.index_numbers_eager_load %>
      <table class="table table-bordered-sharp">
        <thead>
          <tr class="shadow">
            <th class="digit bg-cf">#</th>
            <% meanings.each do |m| %>
              <th class="bg-me">
                <%= link_to m, m %>
              </th>
            <% end %>
            <th class="bg-cs">Coding set</th>
            <th>Argument type</th>
          </tr>
        </thead><tbody>
        <% arguments.each do |arg| # arg is a Coding frame index number %>
          <tr data-idx-no="<%= arg.index_number %>">
            <th class="digit bg-cf"><%= arg.index_number %></th>
            <% meanings.each do |m| %>
            <% microrole = arg.microroles.where_meaning(m)[0] %>
              <td class="bg-mr"><%= link_to microrole, microrole %></td>
            <% end %>
            <td class="bg-cs"><%= arg.coding_set %></td>
            <td><%= arg.argument_type %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <% if meanings.size > 0 %>
        <div><%= "Verb meaning".pluralize(meanings.size)%>: <%= meaning_list(@verb) %></div>
      <% else %>
        no meaning specified;
      <% end %>
      no coding frame specified
    <% end %>
  </div>

</div>

<div class="new row">
	<!-- Alternations --><div class="span12 dt-with-filters">
	  <% avs = @verb.alternation_values %>
    <h2 class="pull-left">Alternations</h2>
    <% if @verb.av_data? then %>
    <form class="form-inline pull-left with-h2">
      <label class="checkbox inline"> also show: </label>
      <label class="checkbox inline">
        <input type="checkbox" class="toggle-col" data-col="comment">Comments
      </label>
      <label class="checkbox inline">
        <input type="checkbox" class="toggle-col" data-col="derived coding frame">Derived Coding frames
      </label>
  	</form>        

    <div class="row">
      <div class="span12">
        <div class="form-inline dt-filters"><!-- filters for dataTable -->
          <label>Filter by type:</label>
          <div class="btn-group filter-col" data-toggle="buttons-checkbox" data-col="coded?">
            <button class="btn btn-mini" value="y">Coded</button>
            <button class="btn btn-mini" value="n">Uncoded</button>
          </div>
      
          <label>Filter by occurrence:</label>
          <div class="btn-group filter-col" data-toggle="buttons-checkbox" data-col="occurs">
            <button class="btn btn-mini btn-success" value="R">Regularly</button>
            <button class="btn btn-mini btn-warning" value="M">Marginally</button>
            <button class="btn btn-mini btn-danger" value="N">Never</button>
          </div>
          <div class="btn-group">
            <a class="btn btn-mini clear-filters">
              <i class="icon-remove"></i> Clear filters
            </a>
          </div>
        </div><!-- end .dt-filters-->
      </div><!-- end span12 -->
    </div><!-- end row -->

    <div class="row">
    <div class="span12">
    <table id="av_list" class="table dataTable table-striped table-bordered-sharp table-hover">
      <thead>
        <tr>
          <th>Alternation name</th>
          <th>Occurs</th>
          <th class="hidden-col">Comment</th>              <!-- initially hidden (toggle) -->
          <th class="hidden-col">Coded?</th>               <!-- always hidden (for filtering only) -->
          <th class="hidden-col">Derived Coding frame</th> <!-- initially hidden (toggle) -->
          <th>Examples</th>
        </tr>
      </thead>
      <tbody>
      <% avs.each do |av| %>
      <% altn, dcf, exs = av.alternation, av.derived_coding_frame, av.examples %>
      <%= content_tag_for(:tr, altn) do %>
        <td>
          <div class="cell">
            <%= render partial: 'alternations/cu_label', locals: {alternation: altn} %>
          </div>
          <div class="cell">
            <%= link_to raw(altn), [@language, altn] %>
            <% if altn.description %>
            <a rel="popover" class="btn btn-mini" title="<%= altn.name %>"
               data-content="<%= altn.description %>">more info</a>
            <% end %>
          </div>
        </td>

        <td class="center"><%= value_label av %></td>

        <td><%= raw av.comment %></td>

        <td><%= altn.coded_y_n %></td>

        <td><% unless dcf.nil? %>
              <%= link_to dcf, [@language, dcf] %>
            <% end %>
        </td>

        <td>
          <% if exs.size > 0 %>
            <div class="examples-container">
              <% example_options = {class: 'in-table', wrap: true, gloss: false} %>
              <% exs.each do |ex| %>
                <%= render_example ex, example_options %>
              <% end %>
            </div>
          <% end %>
        </td>

      <% end %>
      <% end %>
    </tbody>
    </table>
    </div><!-- end of .span12 -->
    </div><!-- end of .row -->
  <% else %>
    <div class="clear"> no data </div>
  <% end %>

</div><!-- end of .row -->
</div>
