<!-- Verb detail -->
<div class="row">
  <div class="span12">
    <h1 class="pull-left">
    	<span class="object-language" id="<%= dom_id(@verb) %>"><%= @verb %></span>
    	<% if @verb.original_script %>
    		<small><span><%= "(#{@verb.original_script})" %></span></small>
    	<% end %>
    </h1>
    <% if @verb.comment %>
      <a class="btn btn-mini toggle-next with-h1">show comment</a>
      <div class="comment"><p class="box"><%= raw @verb.comment %></p></div>
    <% end %>
	</div>
</div>

<div class="row">
	<!-- CODING FRAME --><div class="span4">
	  <% cframe = @verb.coding_frame %>
		<h3>Coding frame</h3>
		<%= div_for cframe, :class => 'well bg-cf' do |cf| %>
			<big><%= link_to cf, [@language, cf] %></big>
		<% end %>
		
    <!-- <% j_av_altn = cframe.verbs.joins(:alternation_values).joins(:alternations) %>
    <% j_derived_cfs = j_av_altn.joins('INNER JOIN coding_frames ON coding_frames.id = alternation_values.derived_coding_frame_id') %>
    <% derived_cfs = j_derived_cfs.select('coding_frames.coding_frame_schema as derived_cf').uniq %>
    <div class="row">
      <div class="span4">
        <p><strong>Derived coding frames:</strong></p>
        <% derived_cfs.each do |dcf| %>
          <p><%= dcf.derived_cf %></p>
        <% end %>
      </div>
    </div> -->

	</div>

  <!-- EXAMPLES --><div class="span8">
  	<% examples = @verb.examples_of_coding_frame %>
  	<% excount  = examples.size %>
  	<h3><!-- Examples -->
  		<%= if excount == 0 then raw("<small>no example given</small>") else 'Example'.pluralize(excount) end  %>
  		<small>for the coding frame</small>
  	</h3>
  	<% if example = examples.first %>
  		<%= div_for example, :class=>"row new" do %>
    		<div class="span1">
    			<%= link_to "(#{example.number})", [@language, example],
    			:title=>"View details for example #{example.number}" %>
    		</div>
    		<div class="span7">
    			<div class="row object-language"><%= example.primary_text %></div>
    			<div class="row">
    				<% at_pieces = example.analyzed_text.split().map!{|s| html_escape(s)} %>
    				<% gl_pieces = example.gloss.split().map!{|s| html_escape(s).gsub(/[A-Z]+/){|caps| '<span class="sc">'<<caps<<'</span>'} } %>
    				<% glosses = at_pieces.zip(gl_pieces).map!{|pair| pair.join('<br/>')} %>
    				<% glosses.each do |gloss| %>
    				  <div class="gloss-unit"><%= raw gloss %></div>
    				<% end %>
    			</div>
    			<div class="row"><%= "‘#{example.translation}’" %></div>
    		</div>
  		<% end %>
  	<% end %>
  	
  	<% if excount > 1 %>

  	  <% examples.shift %>
			<div class="row offset1">
		    <a class="btn btn-mini reveal-below">show <%= examples.size %> more…</a>
		  </div>
      <div class="reveal-me">
        <% examples.each do |example| %>
      		<%= div_for example, :class=>"row new" do %>
        		<div class="span1">
        			<%= link_to "(#{example.number})", [@language, example],
        			:title=>"View details for example #{example.number}" %>
        		</div>
        		<div class="span7">
        			<div class="row object-language"><%= example.primary_text %></div>
        			<div class="row">
        				<% at_pieces = example.analyzed_text.split().map!{|s| html_escape(s)} %>
        				<% gl_pieces = example.gloss.split().map!{|s| html_escape(s).gsub(/[A-Z]+/){|caps| '<span class="sc">'<<caps<<'</span>'} } %>
        				<% glosses = at_pieces.zip(gl_pieces).map!{|pair| pair.join('<br/>')} %>
        				<% glosses.each do |gloss| %>
        				  <div class="gloss-unit"><%= raw gloss %></div>
        				<% end %>
        			</div>
        			<div class="row"><%= "‘#{example.translation}’" %></div>
        		</div>
      		<% end %>          
        <% end %>
      </div>
  	  
  	<% end %>
  	

  </div>

</div>

<div class="new row">

	<!--  MEANINGS & MRs  --><div class="span4">
	  <% meanings = @verb.meanings  %>
	  <% basic_mroles = cframe.microroles.joins(:meaning).where(microroles: {meaning_id: meanings.pluck(:id)}).uniq %>
		<h3>
			<%= 'Meaning'.pluralize meanings.size  %>
			and Microroles
		</h3>
		<table class="table table-bordered"><tbody>
		  <% meanings.each do |meaning| %>
		    <% basic_mroles_of_meaning = basic_mroles.where(meaning_id: meaning.id) %>
		    <tr>
    			<td class="bg-me"><%= link_to meaning, meaning %></td>
          <td class="bg-mr">
          
  				<% basic_mroles_of_meaning.each do |mrole| %>
  				  <% begin %>
				      <% idx_no = cframe.coding_frame_index_numbers.joins(:microroles).where(microroles:{id:mrole.id}).first.index_number %>
				    <% rescue idx_no = nil; end %>
  					<%= div_for mrole do %>
  					  <%= raw "#{idx_no}&nbsp; &nbsp;#{mrole}" %>
  					<% end %>
  				<% end %>
			    </td>
			  </tr>
		  <% end %>
		</tbody></table>
		
		<% all_mrs = @verb.microroles.uniq %>
		<% basic_mrs = cframe.microroles.joins(:meaning).where(microroles: {meaning_id: @verb.meanings.pluck(:id)}) %>
		<% new_mrs = all_mrs - basic_mrs %>
		<% if new_mrs.size > 0 %>
			<div class="row new"><div class="span4">
				<strong>MR of arguments introduced via alternations:</strong>
				<br><%= new_mrs.map{|x|x.name}.join(', ') %>
			</div></div>			
		<% end %>
		
	</div>
	
	<!-- INDEX# CS ArgTyp --><div class="span5">
		<h3>
			Coding sets and Argument types
		</h3>
		<% j_argtypes = cframe.coding_frame_index_numbers.joins("LEFT OUTER JOIN argument_types ON coding_frame_index_numbers.argument_type_id = argument_types.id") %>
		<% j_codsets  = j_argtypes.joins("LEFT OUTER JOIN coding_sets ON coding_frame_index_numbers.coding_set_id = coding_sets.id") %>
    <% result_set = j_codsets.where(coding_frame_id: cframe.id).select("coding_frame_index_numbers.index_number as i, argument_types.argument_type as at, coding_sets.name as cs").order("index_number") %>
		<table class="table">
			<thead>
				<tr class="bg-cs-darker">
					<th>#</th> <th>Coding set</th> <th>Argument type</th> 
				</tr>
			</thead><tbody>
			<% result_set.each do |row| %>
  			<tr class="bg-cs">
  				<td><%= row.i %></td>
  				<td><%= row.cs %></td>
  				<td><%= row.at %></td>
        </tr>
			<% end %>
		  </tbody>
		</table>
  </div>

</div>

<div class="row new">
	<!-- Alternations --><div class="span12">
	  <% avs = @verb.alternation_values %>
    <h3 class="pull-left">
      Alternations
    </h3>
    <form class="pull-left with-h3">
      <label class="checkbox inline"> also show: </label>
      <label class="checkbox inline">
        <input type="checkbox" class="toggle-dt-column" data-column="comment">
        Comments
      </label>
      <label class="checkbox inline">
        <input type="checkbox" class="toggle-dt-column" data-column="derived coding frame"> Derived Coding frames
      </label>
  	</form>        

    <div class="row">
      <div class="span12 dt-filters"><!-- filters for dataTable -->

              <div class="btn-label">Filter by type:</div>
              <div class="btn-group column-filter" data-toggle="buttons-checkbox" data-column="coded?">
                <button type="button" class="btn btn-mini">Coded</button>
                <button type="button" class="btn btn-mini">Uncoded</button>
              </div>
            
              <div class="btn-label">Filter by occurrence:</div>
              <div class="btn-group column-filter inline" data-toggle="buttons-checkbox" data-column="occurs">
                <button type="button" class="btn btn-mini">Regularly</button>
                <button type="button" class="btn btn-mini">Marginally</button>
                <button type="button" class="btn btn-mini">Never</button>
              </div>
              <div class="btn-group">
                <a class="btn btn-mini dt-filters-clear">
                  <i class="icon-remove"></i> Clear filters
                </a>
              </div>
        
      </div><!-- end span -->
    </div><!-- end row -->

		<div class="row"><div class="span12">
		<table id="av_list" class="table dataTable table-striped table-bordered table-hover">
		  <thead>
		  	<tr>
          <th>Alternation name</th>
          <th>Occurs</th>
          <th>Comment</th>              <!-- hidden (toggle w/checkbox) -->
          <th>Coded?</th> <!-- always hidden (for dataTable filtering only) -->
          <th>Derived Coding frame</th> <!-- hidden (toggle w/checkbox) -->
          <th>Examples</th>
		  	</tr>
		  </thead>
		<tbody>
		<% avs.each do |av| %>
		<% altn, dcf, exs = av.alternation, av.derived_coding_frame, av.examples %>
		<tr>
			<td>
        <span class="label" title="<%= altn.coded? ? 'Coded alternation' : 'Uncoded alternation' %>">
        <%= altn.coded? ? 'C' : 'U' %></span>
        <%= link_to raw(altn), [@language, altn] %>
      </td>
      <td><%= av.alternation_occurs %></td>
      <td><%= raw av.comment %></td>
      <td><%= altn.alternation_type %></td>
      <td><%= link_to(dcf, [@language, dcf]) unless dcf.nil? %></td>
      <td>
        <% if exs.first %>
          <% ex = exs.first %>
          <a class="whole-ex block" href="<%= language_example_path(@language, ex) %>">
            <div class="pull-left"><%= raw "(#{ex.number})&nbsp;" %></div>
            <div class="inline">
              <div class="object-language"><%= ex.primary_text %></div>
              <div><%= "‘#{ex.translation}’" %></div>
            </div>
          </a>
        <% end %>

        <% if exs.size > 1 %>
          <% exs.shift %>
          <div><a class="btn btn-mini reveal-below">and <%= exs.size %> more…</a></div>
          <div class="reveal-me">
            <% exs.each do |ex| %>
              <a class="whole-ex block" href="<%= language_example_path(@language, ex) %>">
                <div class="pull-left"><%= raw "(#{ex.number})&nbsp;" %></div>
                <div class="inline">
                  <div class="object-language"><%= ex.primary_text %></div>
                  <div><%= "‘#{ex.translation}’" %></div>
                </div>
              </a>
            <% end %>
          </div>
        <% end %>
      </td>
		</tr>
		<% end %>
		</tbody>
		</table>
		</div></div>
	</div>
</div>
