<!-- Verb detail -->
<% meanings = @verb.meanings %><!-- verb's meanings or [] -->
<% cframe   = @verb.cframe %>  <!-- basic coding frame or nil -->
<div class="row">
  <div class="span12">
    <h1 class="pull-left">
      <span class="object-language" id="<%= dom_id(@verb) %>"><%= @verb %></span>
      <% if @verb.original_script %>
        <small><%= "(#{@verb.original_script})" %></small>
      <% end %>
    </h1>
    <form class="form-inline pull-left with-heading">
      <% if @verb.comment %>
        <a class="btn btn-mini toggle" data-toggle="comment">show comment</a>
      <% end %>
      <% if @synonyms && @synonyms.size > 0 %>
        <label>
          <%= pluralize(@synonyms.size, "other Verb form") %>
          for meaning "<%= @meaning.to_s %>": <%= verb_list(@synonyms, as_links = true, meaning = @meaning) %>
        </label>
      <% end %>
      <% if @verb.comment %>
        <div class="comment"><p class="box"><%= raw @verb.comment %></p></div>
      <% end %>
    </form>
    <div class="btn-group with-heading"><%= prev_next_links(@verbs, @verb) %></div>

  </div>
</div>

<div class="row">  
	<!-- CODING FRAME --><div class="span4">
    <h2>Coding frame
      <% definition = Term.find_by_term('Coding frame').description %>
      <%if !definition.blank? %>
      <a href="#myModal1" data-toggle="modal"><i class="icon-info-sign"></i></a>
      <div id="myModal1" class="modal hide fade" style="width:700px" tabindex="-1" role="dialog" aria-labelledby="myModal1" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModal1">Coding frame</h3>
        </div>
        <div class="modal-body" style="color:#000;font-height:normal;font-size:11pt;font-weight:normal;">
            <%= raw definition %>
        </div>
      </div>
      <%end%>

    </h2> 
		<% if cframe %>
    	<%= render_cf(cframe, link: true, css_class: "padded-box active big") if cframe %>
    <% else %>
      <span style="color:#999;">not specified</span>
    <% end %>

    <% if ["Simplex", "Complex"].include? (s = @verb.simplex_or_complex) %>
      <div><%= s %> Verb form</div>
    <% end %>
    <% unless (vt = @verb.verb_type).blank? %>
      <div>Verb type: <%= vt %></div> 
    <% end %>
    
		
  </div><!-- end of span4 -->
  
  <!-- EXAMPLES --><div class="span8">
    <h2>
			<% if @examples.size > 0 %>
				<%= 'Example'.pluralize(@examples.size) %>
			<% else %>
			  <small>no examples given</small>
			<% end %>
            <% definition = Term.find_by_term('Example').description %>
      <%if !definition.blank? %>
      <a href="#myModal2" data-toggle="modal"><i class="icon-info-sign"></i></a>
      <div id="myModal2" class="modal hide fade" style="width:700px" tabindex="-1" role="dialog" aria-labelledby="myModal2" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModal2">Example</h3>
        </div>
        <div class="modal-body" style="color:#000;font-height:normal;font-size:11pt;font-weight:normal;">
            <%= raw definition %>
        </div>
      </div>
      <%end%>

		</h2>
		<% divide = @exs_of_cf.size if @exs_of_cf.size < @examples.size %>
		<%= render partial: 'examples', object: @examples,
		  locals: {divide: divide, options: {number_as_link: true}} %>
  </div>

</div>

<div class="new row">

	<!-- INDEX#, Microroles, Coding sets, Argument types -->
	<div class="span12">
    <h2>
      Verb <%= "meaning".pluralize meanings.size %><% definition = Term.find_by_term('Verb meaning').description %>
      <%if !definition.blank? %>
      <a href="#myModal3" data-toggle="modal"><i class="icon-info-sign"></i></a>
      <div id="myModal3" class="modal hide fade" style="width:700px" tabindex="-1" role="dialog" aria-labelledby="myModal3" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModal3">Verb meaning</h3>
        </div>
        <div class="modal-body" style="color:#000;font-height:normal;font-size:11pt;font-weight:normal;">
            <%= raw definition %>
        </div>
      </div>
      <%end%>,
      Microroles<% definition = Term.find_by_term('Microrole').description %>
      <%if !definition.blank? %>
      <a href="#myModal4" data-toggle="modal"><i class="icon-info-sign"></i></a>
      <div id="myModal4" class="modal hide fade" style="width:700px" tabindex="-1" role="dialog" aria-labelledby="myModal4" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModal4">Microrole</h3>
        </div>
        <div class="modal-body" style="color:#000;font-height:normal;font-size:11pt;font-weight:normal;">
            <%= raw definition %>
        </div>
      </div>
      <%end%>, Coding&nbsp;sets<% definition = Term.find_by_term('Coding set').description %>
      <%if !definition.blank? %>
      <a href="#myModal5" data-toggle="modal"><i class="icon-info-sign"></i></a>
      <div id="myModal5" class="modal hide fade" style="width:700px" tabindex="-1" role="dialog" aria-labelledby="myModal5" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModal5">Coding set</h3>
        </div>
        <div class="modal-body" style="color:#000;font-height:normal;font-size:11pt;font-weight:normal;">
            <%= raw definition %>
        </div>
      </div>
      <%end%> and Argument&nbsp;types<% definition = Term.find_by_term('Argument type').description %>
      <%if !definition.blank? %>
      <a href="#myModal6" data-toggle="modal"><i class="icon-info-sign"></i></a>
      <div id="myModal6" class="modal hide fade" style="width:700px" tabindex="-1" role="dialog" aria-labelledby="myModal6" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModal6">Argument type</h3>
        </div>
        <div class="modal-body" style="color:#000;font-height:normal;font-size:11pt;font-weight:normal;">
            <%= raw definition %>
        </div>
      </div>
      <%end%>
    </h2>
    <% if cframe %>
      <% arguments = cframe.index_numbers_eager_load %>
      <div style="max-width:<%= 390+120*meanings.size %>px;">
      <table class="table table-bordered-sharp">
        <thead>
          <tr>
            <th class="idx-no">#</th>
            <% meanings.each do |m| %>
              <th class="meaning" style="width: 9em">
                <%= link_to m, m %>
              </th>
            <% end %>
            <th class="coding-set">Coding set</th>
            <th style="max-width:50px;">Argument type</th>
          </tr>
        </thead><tbody>
        <% arguments.each do |arg| # arg is a Coding frame index number %>
          <% n = arg.index_number %>
          <tr data-idx-no="<%= n %>">
            <th class="idx-no"><%= n %></th>
            <% meanings.each do |m| %>
            <% microrole = arg.microroles.where_meaning(m)[0] %>
              <td class="microrole">
                <%= link_to microrole, microrole unless microrole.nil? || microrole.name.blank? %>
              </td>
            <% end %>
            <td class="coding-set">
              <% cs = arg.coding_set %>
              <%= link_to cs, [@language, cs] unless cs.nil? || cs.name.blank? %>
            </td>
            <td><%= arg.argument_type %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
      <% else %>
      <% if meanings.size > 0 %>
        <div><%= "Verb meaning".pluralize(meanings.size)%>: <%= meaning_list(@verb) %></div>
      <% else %>
        no meaning specified;
      <% end %>
      <span style="color:#999;"> no coding frame specified</span>
    <% end %>
  </div>

</div>

<div class="new row">
	<!-- Alternations --><div class="span12 dt-with-filters">
	  <% avs = @alternation_values %>
    <h2 class="pull-left">Alternations<% definition = Term.find_by_term('Alternation').description %>
      <%if !definition.blank? %>
      <a href="#myModal7" data-toggle="modal"><i class="icon-info-sign"></i></a>
      <div id="myModal7" class="modal hide fade" style="width:700px" tabindex="-1" role="dialog" aria-labelledby="myModal7" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModal7">Alternation</h3>
        </div>
        <div class="modal-body" style="color:#000;font-height:normal;font-size:11pt;font-weight:normal;">
            <%= raw definition %>
        </div>
      </div>
      <%end%></h2>
    <% if @verb.av_data? then %>
    <form class="form-inline pull-left with-heading">
      <label class="checkbox inline"> also show: </label>
      <label class="checkbox inline">
        <input type="checkbox" class="toggle-col" data-col="comment">Comments
      </label>
      <label class="checkbox inline">
        <input type="checkbox" class="toggle-col" data-col="derived coding frame">Derived Coding frames<% definition = Term.find_by_term('Derived coding frame').description %>
        <% if !definition.blank? %>
        <a href="#myModal8" data-toggle="modal"><sup><i class="icon-info-sign"></i></sup></a>
        <div id="myModal8" class="modal hide fade" style="width:700px" tabindex="-1" role="dialog" aria-labelledby="myModal8" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModal8">Derived coding frame</h3>
          </div>
          <div class="modal-body" style="color:#000;font-height:normal;font-size:11pt;font-weight:normal;">
              <%= raw definition %>
          </div>
        </div>
        <% end %>
      </label>
    </form>

    <div class="row">
      <div class="span12">
        <div class="form-inline dt-filters"><!-- filters for dataTable -->
          <label>Filter by type:</label>
          <div class="btn-group filter-col" data-toggle="buttons-checkbox" data-col="coded?">
            <button class="btn btn-mini" value="y">Coded</button>
            <button class="btn btn-mini" value="n">Uncoded</button>
          </div>
      
          <label>Filter by occurrence:</label>
          <div class="btn-group filter-col" data-toggle="buttons-checkbox" data-col="occurs">
            <button class="btn btn-mini btn-success">Regularly</button>
            <button class="btn btn-mini btn-warning">Marginally</button>
            <button class="btn btn-mini btn-danger">Never</button>
          </div>
          <div class="btn-group">
            <a class="btn btn-mini clear-filters">
              <i class="icon-remove"></i> Clear filters
            </a>
          </div>
        </div><!-- end .dt-filters-->
      </div><!-- end span12 -->
    </div><!-- end row -->

    <div class="row">
    <div class="span12">
    <table id="av_list" class="table dataTable table-striped table-bordered-sharp table-hover">
      <thead>
        <tr>
          <th>Alternation name</th>
          <th>Occurs</th>
          <th class="hidden">Comment</th>              <!-- initially hidden (toggle) -->
          <th class="hidden">Coded?</th>               <!-- always hidden (for filtering only) -->
          <th class="hidden">Derived Coding frame</th> <!-- initially hidden (toggle) -->
          <th>Examples</th>
        </tr>
      </thead>
      <tbody>
      <% avs.each do |av| %>
	      <% altn, dcf, exs = av.alternation, av.derived_coding_frame, av.examples %>
				<% next unless altn %>
	      <%= content_tag_for(:tr, altn) do %>
	        <td>
	          <div class="cell">
	            <%= render partial: 'alternations/cu_label', locals: {alternation: altn} %>
	          </div>
	          <div class="cell">
	            <%= link_to raw(altn), [@language, altn] %>
	            <% if altn.description %>
	            <a rel="popover" class="btn btn-mini" title="<%= altn.name %>"
	               data-content="<%= altn.description %>">more info</a>
	            <% end %>
	          </div>
	        </td>

	        <td class="center"><%= value_label av %></td>

	        <td><%= raw av.comment %></td>

	        <td><%= altn.coded_y_n %></td>

	        <td><% unless dcf.nil? %>
	              <%= render_cf dcf, link: true %>
	            <% end %>
	        </td>

	        <td>
            <% opts = {wrap: true, gloss: false} %>
        		<%= render partial: 'examples', object: exs, locals: {options: opts} %>
	        </td>

	      <% end %>
      <% end %>
    </tbody>
    </table>
    </div><!-- end of .span12 -->
    </div><!-- end of .row -->
  <% else %>
    <div class="clear"> no data </div>
  <% end %>

</div><!-- end of .row -->
</div>
