<!-- Verb detail -->
<% meanings = @verb.meanings %><!-- verb's meanings or [] -->
<% cframe   = @verb.cframe %>  <!-- basic coding frame or nil -->

<div class="row">
  <div class="span12">
    <h1 class="pull-left">
    	<span class="object-language" id="<%= dom_id(@verb) %>"><%= @verb %></span>
    	<% if @verb.original_script %>
    		<small><span><%= "(#{@verb.original_script})" %></span></small>
    	<% end %>
    </h1>
    <% if @verb.comment %>
      <a class="btn btn-mini toggle-next with-h1">show comment</a>
      <div class="comment"><p class="box"><%= raw @verb.comment %></p></div>
    <% end %>
	</div>
</div>

<div class="row">
	<!-- CODING FRAME --><div class="span4">
    <h4>Coding frame</h4>
    <% if cframe %>
      <%= div_for cframe, :class => 'padded-box bg-cf' do |cf| %>
        <big><%= link_to cf, [@language, cf] %></big>
      <% end %>
    <% else %>
      not specified
    <% end %>

  </div><!-- end of span4 -->
  
  <!-- EXAMPLES --><div class="span8">
    <h4>
      <%= 'Example'.pluralize @excount if @excount > 0 %>
      <small>
        <%= @excount > 0 ? "for the coding frame" : "no example given" %>
      </small>
    </h4>
    <div class="examples-container">
      <% example_options = {number_as_link: true} %>
      <% @examples.each do |ex| %>
        <%= render_example(ex, example_options) %>
      <% end %>
    </div>
  </div>

</div>

<div class="new row">

	<!-- INDEX#, Microroles, Coding sets, Argument types -->
	<div class="span<%= meanings.size + 6 %>">
    <h4>
      Meaning <%= "label".pluralize meanings.size %>,
      Microroles, Coding&nbsp;sets and Argument&nbsp;types
    </h4>
    <% if cframe %>
      <% arguments = cframe.index_numbers_eager_load %>
      <table class="table table-bordered-sharp">
        <thead>
          <tr class="shadow">
            <th class="digit bg-cf">#</th>
            <% meanings.each do |m| %>
              <th class="bg-me">
                <%= link_to m, m %>
              </th>
            <% end %>
            <th class="bg-cs">Coding set</th>
            <th class="bg-cs">Argument type</th>
          </tr>
        </thead><tbody>
        <% arguments.each do |arg| # arg is a Coding frame index number %>
          <tr>
            <td class="digit bg-cf"><%= arg.index_number %></td>
            <% meanings.each do |m| %>
              <td class="bg-mr"><%= arg.microroles.where_meaning(m)[0] %></td>
            <% end %>
            <td class="bg-cs"><%= arg.coding_set %></td>
            <td class="bg-cs"><%= arg.argument_type %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <% if meanings.size > 0 %>
        <div><%= "Meaning label".pluralize(meanings.size)%>: <%= meaning_list(@verb) %></div>
      <% else %>
        no meaning specified;
      <% end %>
      no coding frame specified
    <% end %>
  </div>

</div>

<div class="new row">
	<!-- Alternations --><div class="span12">
	  <% avs = @verb.alternation_values %>
    <h4 class="pull-left">Alternations</h4>
    <% if @verb.av_data? then %>
    <form class="pull-left with-h4">
      <label class="checkbox inline"> also show: </label>
      <label class="checkbox inline">
        <input type="checkbox" class="toggle-dt-column" data-column="comment">
        Comments
      </label>
      <label class="checkbox inline">
        <input type="checkbox" class="toggle-dt-column" data-column="derived coding frame"> Derived Coding frames
      </label>
  	</form>        

    <div class="row">
      <div class="span12">
        <div class="dt-filters"><!-- filters for dataTable -->
          <div class="btn-label">Filter by type:</div>
          <div class="btn-group column-filter" data-toggle="buttons-checkbox" data-column="coded?">
            <button type="button" class="btn btn-mini" value="y">Coded</button>
            <button type="button" class="btn btn-mini" value="n">Uncoded</button>
          </div>
      
          <div class="btn-label">Filter by occurrence:</div>
          <div class="btn-group column-filter inline" data-toggle="buttons-checkbox" data-column="occurs">
            <button type="button" class="btn btn-mini">Regularly</button>
            <button type="button" class="btn btn-mini">Marginally</button>
            <button type="button" class="btn btn-mini">Never</button>
          </div>
          <div class="btn-group">
            <a class="btn btn-mini dt-filters-clear">
              <i class="icon-remove"></i> Clear filters
            </a>
          </div>
        </div><!-- end .dt-filters-->
      </div><!-- end span12 -->
    </div><!-- end row -->

    <div class="row"><div class="span12">
    <table id="av_list" class="table dataTable table-striped table-bordered-sharp table-hover">
      <thead>
        <tr>
          <th>Alternation name</th>
          <th>Occurs</th>
          <th>Comment</th>              <!-- hidden (toggle w/checkbox) -->
          <th>Coded?</th> <!-- always hidden (for dataTable filtering only) -->
          <th>Derived Coding frame</th> <!-- hidden (toggle w/checkbox) -->
          <th>Examples</th>
        </tr>
      </thead>
      <tbody>
      <% avs.each do |av| %>
      <% altn, dcf, exs = av.alternation, av.derived_coding_frame, av.examples %>
      <%= content_tag_for(:tr, altn) do %>
        <td>
          <div class="cell">
            <% if altn.alternation_type %>
              <span class="label" title="<%= altn.coded? ? 'Coded alternation' : 'Uncoded alternation' %>">
              <%= altn.coded? ? 'C' : 'U' %>
              </span>
            <% end %>
          </div>
          <div class="cell">
            <%= link_to raw(altn), [@language, altn] %>
          </div>
        </td>
        <td><%= av.alternation_occurs %></td>
        <td><%= raw av.comment %></td>
        <td><%= altn.coded_y_n %></td>
        <td><% unless dcf.nil? %>
              <%= link_to dcf, [@language, dcf] %>
            <% end %>
        </td>
        <td>
          <% if exs.size > 0 %>
            <div class="examples-container">
              <% example_options = {class: 'in-table', wrap: true, gloss: false} %>
              <% exs.each do |ex| %>
                <%= render_example ex, example_options %>
              <% end %>
            </div>
          <% end %>
        </td>
      <% end %>
      <% end %>
    </tbody>
    </table>
  </div><!-- end of .span12 -->
  </div><!-- end of .row -->
  <% else %>
    <div class="clear"> no data </div>
  <% end %>

</div><!-- end of .row -->
</div>
