<h1>Listing coding_frames</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Language</th>
    <th>Coding frame schema</th>
    <th>Description</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coding_frames.each do |coding_frame| %>
  <tr>
    <td><%= coding_frame.id %></td>
    <td><%= coding_frame.language %></td>
    <td><%= coding_frame.coding_frame_schema %></td>
    <td><%= coding_frame.description %></td>
    <td><%= coding_frame.comment %></td>
    <td><%= link_to 'Show', coding_frame %></td>
    <td><%= link_to 'Edit', edit_coding_frame_path(coding_frame) %></td>
    <td><%= link_to 'Destroy', coding_frame, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coding frame', new_coding_frame_path %>
