<!-- Coding frames index -->
<h1>
  Coding frames
  <small>of <%= link_to @language.name, @language %></small>
</h1>


<div class="dt-with-filters">

<div class="row">
  <div class="span12">
    <div class="form-inline dt-filters"><!-- filters for dataTable -->
      <div>
      <label> Show </label>
	      <div class="btn-group filter-col" data-toggle="buttons-checkbox" data-col="derived">
	        <button class="btn btn-mini active"> Basic </button>
	        <button class="btn btn-mini"> Derived </button>
	      </div> coding frames.
      </div>
      
      <div class="inline">
      <label>Filter by number of participants:</label>
      <div class="btn-group filter-col" data-toggle="buttons-checkbox" data-col="arg_count">
        <button class="btn btn-mini" value="0"> none </button>
        <button class="btn btn-mini"> 1 </button>
        <button class="btn btn-mini"> 2 </button>
        <button class="btn btn-mini"> 3 </button>
        <button class="btn btn-mini"> 4 </button>
        <button class="btn btn-mini" value="5|6|7|8|9"> more than 4 </button>
      </div>
      <div class="btn-group">
        <a class="btn btn-mini clear-filters">
          <i class="icon-remove"></i> Clear filters
        </a>
      </div>
      </div>
    </div><!-- end .dt-filters-->
  </div><!-- end span12 -->
</div><!-- end row -->

<div class="row">
  <div class="span12">
<table id="coding_frames_list" class="table table-striped table-hover table-bordered-sharp dataTable">
  <thead>
    <tr>
      <th>Coding frame</th>
      <th class="hidden-col">derived</th>
      <th class="hidden-col">arg_count</th>
			<th>Verbs</th>
      <th>Verb meanings &amp; Verb forms</th>
    </tr>
  </thead>
  
    
  <tbody>
    <% @coding_frames.each do |cf| %>
    <% verbs = cf.verbs %>
  	<% mvv   = cf.get_meanings_and_verbs #array of [meaning [verb, verb, ...]] arrays %>
      <tr>

        <td>
          <% unless cf.to_s.blank? %>
            <div class="cell">
              <span class="label" title="<%= cf.derived? ? 'Derived' : 'Basic' %> coding frame">
              <%= cf.derived? ? 'D' : 'B' %></span>
            </div>
            <div class="cell">
              <span class="hidden"><%= cf.arg_count %></span>
              <%= link_to cf, [@language, cf] %>
            </div>
          <% end %>
        </td>
        <td><%= cf.derived   %></td>
        <td><%= cf.arg_count %></td>
        <td class="number">
          <%= (vcount = cf.verb_count) %>
        </td>
        <td class="columns">
          <% mvv.each do |m, vv| %>
            <div class="item meaning-and-verbs">
              <%= m %> (<%= verb_list(vv, true) %>)
            </div>   
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
</div><!-- end .span12 -->
</div><!-- end .row -->


</div> <!-- end .datatable-with-filters -->
<br />
