<!-- Coding frames index -->
<h1>
  Coding frames
  <small>
    <% if @language %>
     of <%= link_to @language, @language %>
    <% else %>
      of all Languages
    <% end %>
  </small>
</h1>

<div class="dt-with-filters">

<div class="row">
  <div class="span12">
    <div class="form-inline dt-filters"><!-- filters for dataTable -->
      <div>
        <label> Show </label>
        <div class="btn-group filter-col" data-toggle="buttons-checkbox" data-col="derived">
          <button class="btn btn-mini active"> Basic </button>
          <button class="btn btn-mini"> Derived </button>
        </div> coding frames.
      </div>
      
      <div class="inline">
      <label>Filter by number of participants:</label>
      <div class="btn-group filter-col" data-toggle="buttons-checkbox" data-col="arg_count">
        <% @arg_counts.each do |n| %>
          <button class="btn btn-mini" <%= "value=0" if n < 1 %>>
            <%= (n==0)? "none": n %>
          </button>
        <% end %>
      </div>
      <div class="btn-group">
        <a class="btn btn-mini clear-filters">
          <i class="icon-remove"></i> Clear filters
        </a>
      </div>
      </div>
    </div><!-- end .dt-filters-->
  </div><!-- end .span12 -->
</div><!-- end .row -->

<div class="row">
<div class="span12">
<table id="coding_frames_list"
       class="table table-striped table-hover table-bordered-sharp dataTable"
       data-language="<%= "all" unless @language  %>">
  <thead>
    <tr>
      <th>Coding frame</th>
      <th>Alternations</th>
      <th class="hidden">derived</th>
      <th class="hidden">arg_count</th>
      <th title="Number of verb forms">#Vs</th>
      <% if @language %>
        <th>Verb meanings &amp; Verb forms</th>
      <% else %>
        <th>Language</th>
        <th class="hidden">Continent</th>
        <th class="hidden">Family</th>
      <% end %>
    </tr>
  </thead>
  
    
  <tbody>
    <% @coding_frames.each do |cf| %>
    <% next if cf.to_s.blank? || cf.verb_count < 1 %>
      <tr>
        <td>
          <%= render_cf(cf, prefix: true, link: true) %>
        </td>
        <td>
          <% if cf.derived? %>
            <% cf.alternations_of_derived_cf.each do |altn| %>
              <%= link_to raw(altn), [altn.language, altn], class: "block" %>
            <% end %>
          <% else %>
            –
          <% end %>
        </td>
        <td class="hidden"><%= cf.derived %></td>
        <td class="hidden number"><%= cf.arg_count %> </td>
        <td class="number"><%= cf.verb_count %></td>

        <% if @language %>
          <td class="columns">
            <% mvv   = cf.get_meanings_and_verbs #array of [meaning [verb, verb, ...]] arrays %>
            <% mvv.each do |m, vv| %>
              <div class="meaning-and-verbs">
                <%= m %> (<%= verb_list(vv, true) %>)
              </div>   
            <% end %>
          </td>
        <% else # no language specified %>
          <% lang = cf.language %>
          <td><%= link_to lang, lang %></td>
          <td class="hidden"><%= lang.continent %></td>
          <td class="hidden"><%= lang.family %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

</table>
</div><!-- end .span12 -->
</div><!-- end .row -->


</div> <!-- end .datatable-with-filters -->
<br />
