<!-- Coding frame -->
<% cf = @coding_frame # alias %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="<%= if @related_coding_frames.size > 0 then 'span4' else 'span6' end %>">
    <h1 class="small"><%= cf.derived %> Coding frame </h1>

    <%= render_cf(cf, css_class: "padded-box active big") %>
    <% if cf.description %>
      <h5>Description</h5>
      <div class="justify" style="color:grey;margin-top:-10px"><%= raw "#{cf.description.strip.gsub('6px;vertical-align: text-bottom','9px;vertical-align: sub')}" %></div>
    <% end %>
    <% if cf.comment %>
      <form class="form-inline pull-left with-heading">
        <a class="btn btn-mini toggle" data-toggle="comment">show comment</a>
        <div class="comment"><p class="box"><%= raw cf.comment %></p></div>
      </form>
    <% end %>
    <table class="table table-bordered-sharp table-condensed" style="margin-top:1em">
      <thead>
        <tr>
          <th class="idx-no">#</th>
          <th>Coding set</th>
          <th style="max-width:50px;">Argument type</th>
        </tr>
      </thead><tbody>
      <% cf.index_numbers_eager_load.each do |arg| # arg is a Coding frame index number %>
        <% n = arg.index_number; cs = arg.coding_set %>
        <tr data-idx-no="<%= n %>">
          <th class="idx-no"><%= n %></th>
          <td><%= link_to cs, [@language, cs] unless cs.nil? || cs.to_s.blank? %></td>
          <td><%= arg.argument_type %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <% if @related_coding_frames.size > 0 %>
  <div class="span1">
    <div class="arrow triangle-<%= cf.derived? ? 'left' : 'right' %>"></div>
  </div>  

	<div class="span7">
	  <table class="table table-striped table-hover" style="position:relative;top:-5px;">
	    <thead>
	      <tr>
	        <th>
	          <%= cf.derived? ? "From Basic": "Derived" %>
	          <%= "Coding frame".pluralize(@related_coding_frames.size) %>
	        </th>
	        <th>via</th>
	      </tr>
	    </thead>
	    <tbody>
        <% @related_coding_frames.each do |related_cf| %>
          <tr>
            <td><%= render_cf(related_cf, link:true, css_class: "big") %></td>
            <td>
              <% @alternations_of_related_cf[related_cf].each do |altn| %>
                <%= link_to(raw(altn), [@language, altn], class: "block") unless altn.to_s.blank? %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- end .span7 -->
  <% end # if related coding frames exist %>
  
</div><!-- end .row -->

<div class="new row">
  <div class="span8">
    <h2>
      <% if cf.derived? %>
        Verb forms occurring <em>regularly</em> in Alternations<br/> with this derived Coding frame
      <% else %>
        Verb forms with this basic Coding frame
      <% end %>
    </h2>
    <table id="verb_list" class="table table-bordered-sharp table-striped table-hover dataTable">
    <thead>
      <tr>
        <th>Verb form</th>
        <th>Verb meaning</th>
				<% @cf_index_numbers.each do |cfin| %>
					<% n = cfin.index_number %>
					<th data-idx-no="<%= n %>" class="mr">Microrole <%= n %></th>
				<% end %>
      </tr>
    </thead>
    <tbody>
      <% @verbs.each do |v| %>
				<% v.meanings.each do |m| %>
				<% microrole_for_idx_no = m.cf_index_number_to_microrole(cf) %>
		      <tr>
		        <td><%= link_to v, [@language, v], class: 'object-language' %></td>
        
		        <td><%= link_to m, m %></td>
		
						<% @cf_index_numbers.each do |cfin| %>
							<% n  = cfin.index_number %>
							<% mr = microrole_for_idx_no[cfin] %>
							<td data-idx-no="<%= n %>" class="mr"><%= link_to mr, mr unless mr.nil? || mr.name.blank? %></td>
						<% end %>
        
		      </tr>
				<% end %>
      <% end %>
    </tbody>
    </table>    


  </div><!-- end of .span -->
</div><!-- end of .row -->
