<!-- Coding frame -->
<% cf = @coding_frame # alias %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span4">
	<h1 class="small"><%= cf.derived %> Coding frame</h1>
    <%= render_cf(cf, css_class: "padded-box bg-cf big") %>
  </div>

	<div class="span8">
	<h1 class="small"><%= cf.derived? ? "Basic": "Derived" %> Coding frames</h1>
	</div>

</div>

<div class="new row">
  <div class="span8">
    <table id="verb_list" class="table table-bordered-sharp table-striped table-hover dataTable">
    <thead>
      <tr>
        <th>Verb form</th>
        <th>Verb meaning</th>
				<% @cf_index_numbers.each do |cfin| %>
					<% n = cfin.index_number %>
					<th data-idx-no="<%= n %>" class="mr">Microrole <%= n %></th>
				<% end %>
      </tr>
    </thead>
    <tbody>
      <% @verbs.each do |v| %>
				<% v.meanings.each do |m| %>
		      <tr>
		        <td><%= link_to v, [@language, v], class: 'object-language' %></td>
        
		        <td><%= link_to m, m %></td>
		
						<% @cf_index_numbers.each do |cfin| %>
							<% n  = cfin.index_number %>
							<% mr = cf.microrole_for(m, cfin) %>
							<td data-idx-no="<%= n %>" class="mr"><%= link_to mr, mr %></td>
						<% end %>
        
		      </tr>
				<% end %>
      <% end %>
    </tbody>
    </table>    


  </div><!-- end of .span -->
</div><!-- end of .row -->
