<!-- navigation partial -->
<!-- this is rendered in the top navbar -->
<div class="navbar-inner">
  <%= link_to root_path, class: 'logo', title: "Home" do %>
    <%= image_tag('logo_valpal_100.png', size: '80x80')  %>
  <% end %>
  <div class="container">

    <ul class="nav"><!-- upper nav bar -->
      <!-- Languages dropdown -->
      <li class="dropdown" id="language_dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Language&nbsp;contributions&nbsp;<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "All languages", languages_path %></li>
          <li class="divider"></li>
          <%= li_wrapped_links_to_all_languages(same_controller = true) %>
        </ul>
      </li>
      <li class="divider-vertical"></li>

      <!-- Meanings dropdown -->
      <li class="dropdown <%= 'active' if controller_name == 'meanings' %>" id="meaning_dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Verb&nbsp;meanings&nbsp;<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <div class="caption">
            <%= link_to "Show all Verb meanings", meanings_path %>
            or select one of the <%= @meanings_core.size %> core meanings:
          </div>
          <li class="divider"></li>
          <% @meanings_core.each do |m| %>
          <% cls = 'active' if m == @meaning %>
            <li class="<%= cls %>"><%= link_to m, m %></li>
          <% end %>
        </ul>
      </li>
      <li class="divider-vertical"></li>
      
      <li class="<%= "active" if controller_name == 'coding_frames' && !@language %>">
        <%= link_to_unless_current "All Coding frames", coding_frames_path do %>
          <%= link_to "All Coding frames", '#top' %>
        <% end %>
      </li>
      <li class="divider-vertical"></li>
      
      <li class="<%= "active" if controller_name == 'microroles' %>">
        <%= link_to_unless_current "Microroles", microroles_path do %>
          <%= link_to "Microroles", '#top' %>
        <% end %>
      </li>
      <li class="divider-vertical"></li>
      
      <li class="dropdown" id="about_dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          About&nbsp;<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/about/project">Project description</a></li>
          <li><a href="/about/database">Database manual</a></li>
          <li class="divider"></li>
          <li><a href="/about/credits">Credits</a></li>
          <li class="divider"></li>
          <li><a href="/about/contact">Contact</a></li>
          <li><a href="/about/imprint">Imprint</a></li>
          <li class="divider"></li>
          <li><a href="/about/browser_support">Browser Support</a></li>
        </ul>
      </li>
      <li class="divider-vertical"></li>

      <li class="dropdown" id="export_dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Export&nbsp;<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <!-- <% if @language %>
            <li><a href="#">Data set for <%= @language.to_s %></a></li>
          <% end %> -->
          <li><a href="#">Coming soon</a></li>
        </ul>
      </li>
      <li class="divider-vertical"></li>
      

    </ul><!-- end .nav -->


  </div><!-- end .navbar-inner -->
</div><!-- end .container -->


<div class="navbar-inner"><!-- second nav bar -->
  <div class="container" id="submenu">

    <!-- language name or "Choose a Language" link -->
    <ul class="nav">
      <li id="nav_language" class="<%= 'active' if @language && controller_name == 'languages' %>">
      <% lang = @language || @current_language %>
      <% if lang %>
        <%= link_to_unless_current lang, lang, title: "Overview for #{lang}" do %>
          <%= link_to lang.to_s, '#top' %>
        <% end %>
      <% else # no language selected %>
        <a id="choose_lang">(choose a language)</a>
      <% end %>
      </li>

    <li class="divider-vertical"></li>	

    <% unless lang # no current language %>
      <li id="verb_dropdown" class="disabled">
        <a>Verb&nbsp;forms</a>
      </li>
    <% else # a language is selected %>
    
    <!-- Verb forms dropdown (w/ meanings) -->			  
    <li class="dropdown<%= ' active' if controller_name == 'verbs' %>" id="verb_dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Verb&nbsp;forms&nbsp;<b class="caret"></b>
      </a>
      <ul class="dropdown-menu hover-items">
        <div class="caption">
        <%= link_to "Show all #{lang.verbs.size} Verb forms", language_verbs_path(lang) %>
          or choose by Verb meaning (80 core meanings shown):
        </div>
        <li class="divider"></li>

        <% @meanings_core.includes(:verbs).each do |m| %>
          <% verbs = (m.verbs & lang.verbs) %>
          <li class="<%= 'active' if m == @meaning %>">
            <% if verbs.size > 0 %>
              <% verbs.sort_by!{|v| v.to_s} %>
              <%= link_to(language_verb_path(lang, verbs.first, meaning: m.to_param)) do %>
                <span class="toggle-hover"><%= m.to_s %></span>
                <span class="toggle-hover object-language">
                  <%= verbs.map{|v| v.to_s}.join(', ').html_safe %>
                </span>
              <% end %>
              
            <% else # no verbs for this meaning %>

              <%= content_tag :a, class: 'disabled' do %>
                <span class="toggle-hover"><%= m.to_s %></span>
                <span class="toggle-hover">(no counterpart)</span>
              <% end %>

            <% end %>
          </li>
        <% end %>

      </ul>
    </li>
    <% end # unless %>

    <li class="divider-vertical"></li>
    
    <%= submenu_items %w(coding_frames), divider='divider-vertical' %>
    <li class="divider-vertical"></li>
    <li class="dropdown" id="dummy_dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Coding&nbsp;sets
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Coming soon</a></li>
      </ul>
    </li>
    <li class="divider-vertical"></li>
    
    <%= submenu_items %w(alternations examples), divider='divider-vertical' %>
    
    <li class="divider-vertical"></li>
    
    </ul><!-- end .nav -->

  </div><!-- end .container#submenu -->
</div><!-- end .navbar-inner -->

<!-- Feedback button deactivated
<style>.navbar .btn.transparent{position:absolute;right:0.2em;margin-top:0.2em;opacity:0.25;}.navbar .btn.transparent:hover{opacity:1}</style>
<a href="mailto:alexander_jahraus@eva.mpg.de?cc=iren_hartmann@eva.mpg.de&subject=ValPaL Feedback&body=Current path (for error reporting): <%= request.path %>"
  class="btn btn-small btn-danger pull-right transparent">
  <i class="icon-white icon-pencil"></i> Feedback
</a>
-->
