<!-- navigation partial -->
<!-- this is rendered in the top navbar -->
<div class="navbar-inner">
  <div class="container">

    <%= link_to "ValPaL", root_path, :class => 'brand' %>

    <ul class="nav">

      <!-- Languages dropdown -->
      <li class="dropdown" id="language_dropdown" data-controller="languages" rel="tooltip">
        <a class="dropdown-toggle" data-toggle="dropdown">
          Language contributions <b class="caret"></b>
        </a>

        <ul class="dropdown-menu clearfix">
          <li><%= link_to "All languages", languages_path %></li>
          <li class="divider"></li>
          <%= li_wrapped_links_to_same_controller_all_languages %>
        </ul>
      </li>
      <li class="divider-vertical"></li>

      <!-- Meanings dropdown. TODO: move to sub-menu -->
      <li class="dropdown" id="meaning_dropdown" data-controller="meanings">
        <a class="dropdown-toggle" data-toggle="dropdown">
          Verb meanings <b class="caret"></b>
        </a>
        <ul class="dropdown-menu clearfix">
          <div class="caption">
            <%= link_to "Show all Verb meanings", meanings_path, class: "inline" %>,
            or select one of the <%= @meanings_core.size %> core meanings:
          </div>
          <li class="divider"></li>
          <% @meanings_core.each do |m| %>
            <li><%= link_to m, m %></li>
          <% end %>
        </ul>
      </li>
      <li class="divider-vertical"></li>

    </ul><!-- end .nav -->
  </div><!-- end .navbar-inner -->
</div><!-- end .container -->


<div class="navbar-inner no-gradient">
  <div class="container">
    <ul class="nav">
      <% if @language %>
        <li>
          <%= @language.to_s + ':' %></a>
        </li>
      <% end %>
    </ul>
    <ul class="nav nav-tabs hide" id="submenu">
      <li>
        Verb forms
      </li>
      <%= submenu_tabs %w(coding_frames alternations examples) %>
    </ul>
  </div>
</div>


