<!-- navigation partial -->
<!-- this will get rendered in the top bar of a Bootstrap layout -->
<%= link_to "Valency", root_path, :class => 'brand' %>

<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <!-- <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> -->
  Menu
</a>

<!-- Everything in here is collapsed at 940px or less -->
<ul class="nav nav-pills">
  <!-- Language dropdown -->
  <li class="dropdown" id="language_dropdown">
      <a class="dropdown-toggle" title="select a language" data-toggle="dropdown">
        <%= @language ? @language.to_s : "Languages" %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <div><%# for the left column %>
        <%# if @language %>
          <li><em><%= link_to "Show all", languages_path %></em></li>
          <li class="divider"></li>
        <%# end %>
  	    <!-- <li><a> for every Language here. @languages are sorted by name -->
  	    <% counter = 0 %>
  	    <% column_size = @languages.size/3 %>
        <% @languages.sort_by{|l| l.name}.each do |lang| %>
          <li><%= link_to_same_controller_with_language(lang) %></li>
          <%= raw("</div><div>") if (counter += 1) % column_size == 0 %>
        <% end %>  
        </div><%# for the right column %>
      </ul>
  </li>

  <!-- Meanings dropdown -->
  <li><%= link_to "Meanings", meanings_path %></li>
</ul>

<div class="nav-collapse">
  <ul class="nav nav-pills">

    <% if @language %>
      <li><%= link_to "Verbs",         language_verbs_path(@language) %></li>
      <li><%= link_to "Coding Frames", language_coding_frames_path(@language) %></li>
      <li><%= link_to "Alternations",  language_alternations_path(@language) %></li>
      <li><%= link_to "Examples",      language_examples_path(@language) %></li>

    <% end %>
  </ul>
</div>




