<!-- navigation partial -->
<!-- this is rendered in the top navbar -->
<div class="navbar-inner">
 <div class="container">

<%= link_to "Valency", root_path, :class => 'brand' %>

<ul class="nav">

  <!-- Meanings dropdown -->
  <li class="dropdown" id="meaning_dropdown" data-controller="meanings">
    <a class="dropdown-toggle" data-toggle="dropdown">
      <%= @meaning ? @meaning.to_s : "Meaning labels" %>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu clearfix">
      <div class="pull-left disabled">
        <a>Showing <%= @meanings_core.size %> core meaning labels</a>
      </div>
      <li class="pull-left no-menu-item">
        <%= link_to "Show all #{Meaning.count}", meanings_path %>
      </li>
      <li class="divider" style="clear:both"></li>
      <% @meanings_core.each do |m| %>
        <li><%= link_to m, m %></li>
      <% end %>
    </ul>
  </li>
  <li class="divider-vertical"></li>

  <!-- Languages dropdown -->
  <li class="dropdown" id="language_dropdown" data-controller="languages" rel="tooltip">
    <a class="dropdown-toggle" data-toggle="dropdown">
      <%= @language ? @language.to_s : "Language contributions" %>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu clearfix">
      <li class="pull-left">
        <%= link_to "All languages", languages_path, :class => "em" %>
      </li>
      <li class="divider" style="clear:both"></li>
      <%= li_wrapped_links_to_same_controller_all_languages %>
    </ul>
  </li>
  <li class="divider-vertical"></li>

</ul>
</div>
</div>


<% if @language %>
<div class="navbar-inner no-gradient">
  <div class="container">
    <ul class="nav nav-tabs hide" id="submenu">
      <%= submenu_tabs %w(languages verbs coding_frames alternations examples) %>
    </ul>
  </div>
</div>
<% end %>


